/* OverlayFooter component styles */

.wrapper {
  background-color: #303030;
  bottom: 0;
  color: #FFFFFF;
  left: 0;
  position: fixed;
  width: 100%;
  z-index: 1000;

  &:empty {
    display: none;
  }
}
