/* Header component styles */

.container {
  background-color: $white;
  border-bottom: $border-thin--gray;
  color: $black;
  display: block;
  justify-self: flex-end;
  margin: 0 auto;
  position: relative;
  width: 100%;
}

.wrapper {
  @include container-with-bleed;
  display: flex;
  flex-flow: row wrap;
  margin: 0 auto;
  padding-bottom: 0;
  position: relative;
}

.logo {
  align-items: center;
  display: flex;
  flex-flow: row nowrap;
  tidy-span: 5;

  @media ($smMin) {
    tidy-span: 3;
  }

  @media ($lgMin) {
    tidy-offset-left: 0;
    tidy-span: 3;
  }
}

.logoStacked {
  display: none;
  flex-flow: row nowrap;
  justify-content: flex-start;
  margin-bottom: tidy-var(gap);
  margin-left: rem(-7); /* Vertical align the R and T on the grid */

  @media ($smMin) {
    display: flex;
  }

  svg {
    display: block;
    height: rem(75.969);
    width: rem(154);
  }
}

.logoHorizontal {
  @media ($smMin) {
    display: none;
  }

  svg {
    display: block;
    /* Srcolling widths */
    /* height: rem(15); */
    /* width: rem(160); */
    height: rem(20);
    width: rem(210);
  }
}

.logoT {
  display: none; /* todo header scroll styles */
  margin-right: rem(24);

  @media ($smMin) {
    display: none;
  }

  svg {
    display: block;
    height: rem(22);
    width: rem(22);
  }
}

/* @todo MIT-176 remove placeholder */
.leaderboard {
  align-items: center;
  background-color: $background-gray;
  border: $border-thin--gray;
  color: $gray;
  display: flex;
  font-family: $sans;
  height: 50px;
  justify-content: center;
  margin-bottom: rem(40);
  margin-left: auto;
  margin-right: auto;
  margin-top: rem(20);
  width: 320px;

  @media ($mdMin) {
    display: flex;
    height: 90px;
    width: 728px;
  }
}

.leaderboardRow {
  flex: 1 0 100%;
  width: 100%;
}

.navigation {
  align-content: flex-end;
  display: flex;
  flex-flow: column nowrap;
  margin-left: tidy-var(gap);
  position: static;
  tidy-span: 5;

  @media ($smMin) {
    tidy-span: 7;
  }

  @media ($lgMin) {
    tidy-span: 9;
  }
}

.menuRow {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-end;
  position: static;
}

.menu {
  display: none;
  flex-flow: row nowrap;
  position: static;

  @media ($smMin) {
    display: flex;
  }
}

.button {
  display: flex;
  padding: rem(15) rem(10);
  z-index: 2;

  svg {
    display: block;
    height: rem(19);
    width: rem(31);
  }
}

.buttonVisualContent {
  display: block;
  height: 100%;
  width: 100%;
}

.expandedButton {
  background-color: $white;
  height: auto;
  text-decoration: underline;
  width: auto;
}

.megaMenu {
  background-color: $black;
  color: $white;
  left: 0;
  position: absolute;
  width: 100%;
  z-index: 1;
}

.userGreeting {
  display: none;

  @media ($smMin) {
    display: block;
  }
}
