/* Header component styles */

.container {
  background-color: $white;
  border-bottom: $border-thin--gray;
  color: $black;
  display: block;
  justify-self: flex-end;
  margin: 0 auto;
  position: relative;
  width: 100%;
}

.wrapper {
  @include container-with-bleed;
  display: flex;
  flex-flow: row wrap;
  margin: 0 auto;
  padding-bottom: 0;
  position: relative;
}

.logo {
  display: block;
  margin-bottom: tidy-var(gap);
  margin-right: tidy-var(gap);
  tidy-offset-right: 1;
  tidy-span: 4;

  @media ($lgMin) {
    tidy-offset-left: 1;
    tidy-offset-right: 0;
    tidy-span: 2;
  }
}

.logoStacked {
  height: rem(100);

  svg {
    height: 100%;
  }
}

/* @todo MIT-176 remove placeholder */
.leaderboard {
  align-items: center;
  background-color: $background-gray;
  border: $border-thin--gray;
  color: $gray;
  display: flex;
  font-family: $sans;
  height: 90px;
  justify-content: center;
  margin-bottom: rem(40);
  margin-left: auto;
  margin-right: auto;
  margin-top: rem(20);
  width: 728px;
}

.leaderboardRow {
  flex: 1 0 100%;
  width: 100%;
}

.navigation {
  align-content: flex-end;
  display: flex;
  flex-flow: column nowrap;
  position: static;
  tidy-span: 5;

  @media ($lgMin) {
    tidy-span: 9;
  }
}

.menu {
  display: flex;
  flex-flow: row nowrap;
  position: static;
}

.button {
  display: block;
  height: rem(50);
  padding: rem(15) rem(10);
  width: rem(46);
  z-index: 2;

  svg {
    height: 100%;
    width: 100%;
  }
}

.megaMenu {
  background-color: $black;
  color: $white;
  left: 0;
  position: absolute;
  width: 100%;
  z-index: 1;
}
