/* Header component styles */

.container {
  background-color: $white;
  border-bottom: $border-thin--gray;
  color: $black;
  display: flex;
  justify-self: flex-end;
  margin: 0 auto;
  min-height: rem(62);
  position: relative;
  width: 100%;
}

.wrapper {
  @include container-with-bleed;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  margin: 0 auto;
  padding-bottom: 0;
  position: relative;
}

.logo {
  align-items: center;
  display: flex;
  flex-flow: row nowrap;
  tidy-span: 4;

  @media ($smMin) {
    tidy-span: 3;
  }

  @media ($mdMin) {
    tidy-offset-left: 1;
    tidy-span: 2;
  }

  &.headroomLogo {
    tidy-span: 4;

    @media ($mdMin) {
      tidy-offset-left: 0;
      tidy-span: 3;
    }
  }
}

.logoStacked {
  display: none;
  flex-flow: row nowrap;
  justify-content: flex-start;
  margin-bottom: tidy-var(gap);
  margin-left: rem(-7); /* Vertical align the R and T on the grid */

  @media ($smMin) {
    display: flex;
  }

  svg {
    display: block;
    height: rem(75.969);
    width: rem(154);
  }
}

.logoHorizontal {
  svg {
    display: block;
    height: rem(20);
    width: rem(210);

    .headroom & {
      height: rem(15);
      width: rem(160);
    }
  }
}

.logoT {
  align-items: center;
  display: flex;
  tidy-span: 1;

  @media ($smMin) {
    tidy-span: 0.5;
  }

  @media ($mdMin) {
    tidy-span: 1;
  }

  svg {
    display: block;
    height: rem(22);
    width: rem(22);
  }
}

.leaderboardRow {
  flex: 1 0 100%;
  width: 100%;

  :global(.adUnit) {
    /* stylelint-disable selector-max-specificity */
    &[loaded="true"] {
      margin: rem(20 0 40);
    }
    /* stylelint-enable */
  }
}

.navigation {
  align-content: flex-end;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  margin-left: tidy-var(gap);
  position: static;
  tidy-span: 5;

  @media ($mdMin) {
    tidy-span: 9;
  }

  .headroom & {
    tidy-span: 5;

    @media ($mdMin) {
      tidy-span: 8;
    }
  }
}

.menuRow {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-end;
  position: static;
}

.menu {
  display: none;
  flex-flow: row nowrap;
  position: static;

  @media ($smMin) {
    display: flex;
  }
}

.button {
  display: flex;
  padding: rem(15) rem(10);
  z-index: 2;

  svg {
    display: block;
    height: rem(19);
    width: rem(31);
  }
}

.buttonVisualContent {
  display: block;
  height: 100%;
  width: 100%;
}

.expandedButton {
  background-color: $white;
  height: auto;
  text-decoration: underline;
  width: auto;
  z-index: 999;
}

.megaMenu {
  background-color: $black;
  color: $white;
  left: 0;
  position: absolute;
  width: 100%;
  z-index: 1;
}

.userGreeting {
  display: none;

  @media ($smMin) {
    display: block;
  }
}

.headroom {
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 100;

  :global(.headroom) {
    transform: translateY(-100%);
    transition: transform 200ms ease-in;
  }

  :global(.headroom--unpinned),
  :global(.headroom--pinned) {
    transform: translateY(0);
  }
}
