/**
 * Stats gutenberg component styles.
 *
 * Must be globally scoped to be used in editor styles.
 */
:global {
  .statsWidget__stat {
    border-top: 1px solid $black;
    font-family: $sans;
    margin: rem(10 0 40);
    padding: rem(20) 0 0 0;
    position: relative;

    @media ($mdMin) {
      clear: right;
      float: right;
      margin: rem(10) -16% rem(20) 8.5%;
      width: 59.1%;
    }

    @media ($lgMin) {
      margin-right: -33%;
    }
  }

  .statsWidget__title {
    font-size: rem(18);
    line-height: 1.55;
  }

  .statsWidget__description {
    font-size: 1rem;
    font-weight: 300;
    line-height: 1.4;
    margin: 0;
    width: 100%;
  }
}
