@use 'core/color';
@use 'core/layout';
@use 'core/breakpoints' as *;
@use 'core/type';

body {
  @include type.primary;
}

img {
  display: block;
  height: auto;
  max-width: 100%;
  margin: 0 auto;
}

/*
 * Utilities
 */
.centered {
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items:center;
  text-align: center;
  justify-content: center;
}
