@use 'core/layout';
@use 'core/breakpoints' as *;
@use 'core/color';

.header {
  color: color.$text;
  padding-top: 2rem;
}

.header__logo {
  display: inline-block;
  height: rem(99);
  width: rem(248);
}

.header__heading {
  font-size: rem(24);
  font-weight: 700;
  margin-bottom: rem(20);
  text-transform: uppercase;

  span {
    color: color.$gray;
  }
}

.header__intro {
  font-size: rem(24);
  line-height: 1.4;
  max-width: rem(590);
  margin-bottom: 4rem;
}

.header__intro__tagline {
  font-size: rem(36);
  font-weight: 600;
  max-width: rem(590);

  em {
    color: color.$primary;
    font-style: normal;
  }
}

.header__buttons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom: -4rem;

  .button {
    display: inline-block;
    background-color: color.$black;
    color: color.$white;
    margin: 0 rem(10);
    padding: rem(15) rem(15) rem(18);
    font-size: rem(22);
    font-weight: 600;
    line-height: (26/22);
    min-width: rem(188);
    text-decoration: none;

    &:hover,
    &:focus {
      text-decoration: underline;
    }
  }
}
