@use 'core/layout';
@use 'core/breakpoints' as *;
@use 'core/color';

.header {
  color: color.$text;

  .container {
    padding-top: rem(80);
    padding-bottom: 0;

    @media (media(min, sm)) {
      padding-top: rem(170);
    }
  }
}

.header__logo {
  display: inline-block;
  height: auto;
  width: rem(240);

  @media (media(min, sm)) {
    width: rem(320);
    margin-bottom: rem(20);
  }

  @media (media(min, md)) {
    width: rem(450);
    margin-bottom: rem(20);
  }
}

.header__heading {
  font-size: rem(24);
  font-weight: 700;
  text-transform: uppercase;

  span {
    color: color.$gray;
  }
}

.header__intro {
  font-size: rem(18);
  margin-bottom: 2rem;

  @media (media(min,sm)) {
    font-size: rem(24);
    line-height: 1.4;
    max-width: rem(590);
    margin-bottom: rem(96);
  }

}

.header__intro__tagline {
  font-size: rem(24);
  font-weight: 600;
  line-height: 2;

  @media (media(min, sm)) {
    font-size: rem(36);
    max-width: rem(590);
  }

  em {
    color: color.$primary;
    font-style: normal;
  }
}

.header__buttons {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: rem(-40); // Overlap next container.

  @media (media(min, sm)) {
    flex-wrap: nowrap;
    margin-bottom: rem(-50); // Overlap next container.
  }

  .button {
    display: inline-block;
    background-color: color.$black;
    color: color.$white;
    margin: 0 rem(8) rem(16);
    padding: rem(12) rem(12) rem(16);
    font-size: rem(18);
    font-weight: 600;
    line-height: (26/22);
    min-width: rem(188);
    text-decoration: none;

    @media (media(min, sm)) {
      font-size: rem(22);
      margin: 0 rem(10) rem(20);
      padding: rem(15) rem(15) rem(18);
    }

    &:hover,
    &:focus {
      text-decoration: underline;
    }
  }

}
