@use 'core/color';
@use 'core/layout';
@use 'core/breakpoints' as *;
@use 'core/type';

body {
  @include type.primary;
}

img {
  display: block;
  height: auto;
  max-width: 100%;
  margin: 0 auto;
}

/*
 * Containers
 */
.container {
  padding: rem(40) 0;

  // Apply max-width to all direct children so these stay full-bleed.
  & > * {
    @include layout.auto-margins;
    max-width: rem(1240);
    width: calc(100% - rem(40));
  }
}

.container--dark {
  background-color: color.$primary-light;
  margin-bottom: 6rem;
}

.container--feature {
  margin: 10% 6.5em;
}

/*
 * Utilities
 */
.centered {
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items:center;
  text-align: center;
}
