@use 'core/color';
@use 'core/layout';
@use 'core/breakpoints' as *;
@use 'core/type';

body {
  @include type.primary;
}

img {
  display: block;
  height: auto;
  max-width: 100%;
}

/* Containers */
.container {
  padding: rem(40) 0;

  // Apply max-width to all direct children so these stay full-bleed.
  & > * {
    @include layout.auto-margins;
    max-width: rem(1240);
    width: calc(100% - rem(40));
  }
}

.container--dark {
  background-color: color.$primary-light;
}

.feature {
  background: url(../../images/shapes/feature-triangle.svg);
  background-repeat: no-repeat;
  border: 2px solid black;
  display: flex;
  direction: column;
  padding: 37px;
}

.feature__body {
  text-align: center;
  font-size: 16px;
  font-weight: 400;
  padding: 10px; 
}

.feature__button {
  background-color: black;
  color: white;
  font-size: 16px;
  font-weight: 600;
  padding: 10px 20px;
}

.feature__heading {
  font-size: 24px;
  font-weight: 600;
}

.feature__icon {
  display: block;
  height: rem(50);
  width: rem(50);
}

.modal {
  display: none;
}
