/**
 * Visually hide an element and leave it only for screenreaders.
 */
@mixin visually-hidden {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

/**
 * Remove hover and focus underline for a given link.
 */
@mixin remove-helpful-link-hover-styles {

  &:hover,
  &:focus {
    text-decoration: none;
  }
}
