/* ListMenuItem component styles */

.wrapper {
  width: 100%;
}

.link {
  border-top: $border-thin--white;
  color: $white;
  display: block;
  font-size: rem(21);
  font-weight: 700;
  padding: rem(5) 0 rem(10);
  width: 100%;

  &:hover {
    text-decoration: underline;
  }
}

.noBorder {
  border-top: none;
}

.active {
  color: $gray;
}
