/* ToggleNotice component styles */

.wrapper {
  @include container;
  max-width: 100%;
  position: relative;
}

.button {
  color: white;
  font-size: rem(20);
  position: absolute;
  right: -10px;
  top: -10px;

  path {
    stroke: white;
  }

  svg {
    transform: rotate(90deg);
  }

  &[aria-expanded="false"] {
    svg {
      transform: rotate(-90deg);
    }
  }
}
