/* ToggleNotice component styles */

.wrapper {
  composes: wrapper from '../columnArea/columnArea--feed.css';
  flex-flow: row nowrap;
  margin-bottom: rem(20);
  margin-top: rem(30);
  padding-bottom: 0;
  position: relative;

  &.collapsed {
    margin-bottom: rem(10);
    margin-top: rem(10);
    padding: rem(0 10 0 20);
  }
}

.button {
  color: white;
  display: block;
  font-size: rem(20);
  height: rem(30);
  order: 2;
  width: rem(30);

  &:focus {
    @include focusRing;
  }

  path {
    stroke: white;
  }

  .expanded & {
    position: absolute;
    right: rem(10);
    top: 0;
    z-index: 1;

    svg {
      transform: rotate(90deg);
    }
  }

  .collapsed & {
    flex: 0 0 auto;
    margin-left: rem(25);

    svg {
      transform: rotate(-90deg);
    }
  }
}

.notice {
  display: block;
  flex: 1 0 auto;
  order: 1;
}
