.wrapper {
  display: block;
  margin-bottom: rem(10);
}

.img,
.picture {
  display: block;
}

.lazyload {
  .placeholder {
    display: block;
  }

  .img,
  .picture {
    display: none;
  }

  /* stylelint-disable selector-max-specificity */
  &.loaded {
    .placeholder {
      display: none;
    }

    .img,
    .picture {
      display: block;
    }
  }
  /* stylelint-enable */
}

.apsectRatio {
  height: 0;
  position: relative;

  picture,
  img {
    height: auto;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
  }

  .placeholder {
    height: 100%;
  }
}

.caption {
  font-size: rem(14);
  font-weight: 500;
  margin-bottom: rem(10);
  margin-left: rem(20);

  @media ($mdMin) {
    margin: 0 0 rem(10);
  }
}

.credit {
  display: block;
  font-size: rem(12);
  font-weight: 500;
  letter-spacing: 1px;
  margin-bottom: rem(10);
  text-transform: uppercase;
}
