/* ListGroup component styles */

.wrapper {
  @include container-with-bleed;
  border-top: $border-thin;
  display: flex;
  flex-flow: row wrap;
  margin-bottom: rem(20);
}

.meta {
  width: 100%;

  @media ($mdMin) {
    padding-left: rem(30);
    tidy-offset-right: 1;
    tidy-span: 3;
  }
}

.title {
  font-size: rem(28);
  font-weight: 600;
  margin: rem(75) 0 0;

  @media ($mdMin) {
    font-size: rem(38);
  }

  @media ($lgMin) {
    font-size: rem(48);
    margin: rem(32.5) 0 rem(30);
  }
}

.description {
  font-size: rem(20);
  font-weight: 400;
  line-height: 1.5;
}

.list {
  display: flex;
  flex-flow: column nowrap;
  width: 100%;

  @media ($mdMin) {
    tidy-span: 8;
  }
}
