
.wrapper[disabled] .content {
  opacity: 0.5;
}

.response {
  display: flex;
  justify-content: center;
  text-align: center;
  width: 100%;
}

.submitting,
.success,
.error {
  font-family: helvetica, arial, sans-serif;
  font-size: 24px;
  text-transform: uppercase;
}

.submitting,
.success {
  color: $blue;
}

.error {
  color: red;
}