
.wrapper {
  min-height: 800px;
  padding: 20px 0;
  width: 100%;
}

.thumb {
  background-color: rgb(215, 215, 217);
  flex: 1 0 175px;
  height: 175px;
  margin-right: 20px;
  max-width: 175px;
  width: 175px;
}

.content {
  flex: 1 0 auto;
}

.textBar {
  background-color: rgb(215, 215, 217);
  height: 20px;
  margin-bottom: 18px;
}

.textBar:first-child {
  height: 32px;
  margin-bottom: 24px;
}

.textBar:last-child {
  width: 25%;
}
