.subSidebar {
  display: flex;
  justify-content: flex-start;
  position: sticky;
  top: 80px;

  @media ($mdMin) {
    justify-content: flex-end;
  }
}

.subSidebarWrapper {
  width: rem(300);
}

.sidebarTopics {
  @media ($lgMin) {
    display: block;
  }
}

.sidebarFollow {
  @media ($lgMin) {
    display: block;
  }
}

.widgetWrapper {
  composes: widgetWrapper from './sidebar.css';
}

.wrapper {
  composes: wrapper from './sidebar.css';
}
