.wrapper {
  flex: 0 0 auto;
  width: 100%;

  @media ($mdMin) {
    margin-bottom: rem(200);
  }

  :global(.sidebarHTMLContent) {
    @include basic-formatting;
    @include block-heading;
    @include block-paragraph;
    @include body-link;
    @include block-list;
  }
}

.widgetWrapper {
  width: 100%;

  &:not(:empty) {
    margin-bottom: rem(40);
  }
}

.pinnedBottom {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-between;
}
