.wrapper {
  flex: 0 0 auto;
  margin-bottom: rem(200);
  width: 100%;

  :global(.sidebarHTMLContent) {
    @include basic-formatting;
    @include block-heading;
    @include block-paragraph;
    @include body-link;
    @include block-list;
  }
}

.widgetWrapper {
  width: 100%;

  &:not(:empty) {
    margin-bottom: rem(40);
  }
}
