.wrapper {
  flex: 0 0 auto;
  width: 100%;
  /* margin-right: lost-vars('gutter'); */
  /* tidy-span: 12; */

  @media ($smMin) {
    padding-left: 0;
    padding-right: 0;
    min-width: rem(330);
  }

  /* > * {
    margin: 0 auto;
    tidy-span: 10;

    @media ($mdMin) {
      tidy-offset-left: 0;
      tidy-span: 6;
    }

    @media ($lgMin) {
      tidy-offset-left: 0;
      tidy-span: 6;
    }
  } */

  /* &:last-child {
    margin-right: 0;
  } */

  :global(.sidebarHTMLContent) {
    @include basic-formatting;
    @include block-heading;
    @include block-paragraph;
    @include body-link;
    @include block-list;
  }
}

.item {
  width: 100%;

  /* stylelint-disable-next-line selector-max-specificity */
  &:not(:empty) {
    margin-bottom: rem(40);
  }
}
