.wrapper {
  display: flex;
  flex-flow: column nowrap;
  font-family: $serif;
  margin: 0 auto;
  position: relative;
  width: 100%;
}
/* stylelint-disable selector-max-specificity */
.content {
  height: 100%;
  width: 100%;

  /* Bold the first line of the first html component inside a gutenbergContent component. */
  :global(.html_0) {
    & > p:first-child {
      &::first-line {
        font-family: $sans;
        font-size: rem(16);
        font-weight: 600;
        line-height: rem(24);

        @media ($mdMin) {
          font-size: rem(18);
          line-height: rem(28);
        }
      }
    }
  }
}

.contentHidden {
  height: 400px;
  overflow: hidden;
  position: relative;

  /* Hide aligned blocks that will be cut off. */
  :global(.alignleft),
  :global(.alignright) {
    display: none;
  }
}

.overlay {
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, #ffffff 100%);
  display: none;
  height: rem(400);
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 2;

  @media ($mdMax) {
    left: 50%;
    transform: translateX(-50%);
  }
}

.overlayVisible {
  display: block;
}

.truncationButton {
  @include btn;
  @include btnWhite;
  font-size: rem(16);
  font-weight: 400;
  margin: rem(15) 0;
  z-index: 10;

  @media ($mdMax) {
    margin: rem(15) auto;
  }
}

.summaryBullets {
  margin-bottom: rem(40);

  @media ($mdMin) {
    margin-bottom: rem(60);
  }
}

.summaryBullets ul {
  font-family: $sans;
  font-size: rem(18);
  line-height: rem(24);

  @media ($mdMin) {
    font-size: rem(20);
    line-height: rem(26);
  }

  li {
    @media ($lgMin) {
      position: relative;
    }

    &::before {
      color: #fc5623;
      content: "\25AA";
      left: rem(-10);
      margin-right: rem(10);
      position: absolute;

      @media ($mdMin) {
        left: rem(-15);
      }

      @media ($lgMin) {
        left: rem(-20);
      }
    }

    &:not(:last-child) {
      padding-bottom: rem(20);

      @media ($mdMin) {
        padding-bottom: rem(40);
      }
    }
  }
}
