.wrapper {
  @include container-with-bleed;
  display: flex;
  flex-flow: column nowrap;
  font-family: $serif;
  margin: 0 auto;

  > * {
    margin: 0 auto;
    tidy-span: 10;

    @media ($mdMin) {
      tidy-offset-left: 1;
      tidy-span: 6;
    }

    @media ($lgMin) {
      tidy-offset-left: 1;
      tidy-span: 6;
    }
  }

  div:not([class]) {
    @include basic-editor-styles;
  }
}
