.wrapper {
  @include container-with-bleed;
  display: flex;
  flex-flow: column nowrap;
  font-family: $serif;
  margin: 0 auto;

  > * {
    margin: 0 auto;
    tidy-span: 10;

    @media ($mdMin) {
      tidy-offset-left: 0;
      tidy-span: 6;
    }

    @media ($lgMin) {
      tidy-offset-left: 0;
      tidy-span: 6;
    }
  }
}

.truncatedContent {
  height: 400px;
  margin-bottom: 15px;
  overflow: hidden;


  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    margin-top: -40px;
    background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0, #fff 100%);
  }
}

.truncationButton {
  @include btn;
  @include btnWhite;
  font-size: 16px;
  font-weight: 400;
}