.wrapper {
  border-top: 1px solid $text-black;
}

.listHeading {
  font-size: rem(16);
  font-variant: small-caps;
  line-height: 1.2;
  padding: rem(8) 0;
  text-transform: uppercase;
}

.listSidebarNav {

  ul {
    display: flex;
    justify-content: space-around;
    margin-bottom: rem(30);

    @media ($mdMin) {
      display: block;
    }
  }

  li {
    font-size: 1rem;
    font-weight: 600;

    @media ($mdMin) {
      font-size: rem(21);
      margin-top: rem(20);
    }

    &:hover {
      text-decoration: underline;
    }
  }
}

.active {
  color: red; /* TODO: change to white after theme color is applied. */
}
