.sliderWrap {
  width: 100%;
}

.slider {
  display: flex;
  margin: rem(10) 0 rem(20);
  overflow: scroll;
  padding-left: rem(10);
  position: relative;
  scroll-snap-type: none;
  transition: transform 0.5s ease 0s;
  width: 100%;

  @media ($mdMin) {
    overflow: visible;
  }
}

.list {
  display: flex;
  flex-flow: row nowrap;
  width: 0;
}

.listItem {
  border: solid 1px $white;
  color: $white;
  flex: 0 0 rem(230);
  font-family: $sans;
  list-style-type: none;
  margin-right: rem(10);
  padding: rem(20) rem(10);
  width: rem(230);

  @media ($mdMin) {
    & > div {
      font-size: rem(14);
      line-height: rem(14);
    }

    & > a {
      & h4 {
        font-weight: 600;
      }

      & div {
        font-size: rem(18);
        line-height: rem(26);
      }
    }
  }

  @media ($smMax) {
    flex: 0 0 rem(288);
    width: rem(288);

    & > div {
      font-size: rem(12);
      line-height: rem(12);
    }

    & > a > div {
      font-size: rem(14);
      line-height: rem(18);
    }
  }
}

.button {
  background-color: $white;
  background-repeat: norepeat;
  background-size: cover;
  border: solid 1px $black;
  bottom: rem(5);
  display: none;
  height: rem(40);
  position: absolute;
  width: rem(40);

  @media ($mdMin) {
    display: flex;
  }

  svg {
    margin: auto;
  }
}

.previous {
  composes: button;
  left: rem(10);
  transform: rotate(180deg);
}

.next {
  composes: button;
  right: rem(10);
}
