.wrapper {
  padding: rem(20 0);

  @media ($mdMin) {
    padding: rem(20 0 40);
  }
}

.inner {
  border-top: 1px solid $black;
  display: flex;
  flex-wrap: wrap;
  padding: rem(20 0);
}

.content {
  flex: 1 0 70%;
  padding-right: rem(20);

  @media ($mdMin) {
    flex: 1 0 50%;
    padding-right: rem(25);
  }
}

.eyebrow {
  display: block;
  font-size: rem(15);
  font-weight: 600;
  margin-bottom: rem(20);

  @media ($mdMin) {
    font-size: rem(16);
  }
}

.title {
  font-size: rem(22);
  font-weight: 600;
  margin-bottom: rem(20);

  @media ($mdMin) {
    font-size: rem(41);
  }
}

.description {
  font-size: rem(17);
  font-weight: 300;
  line-height: 1.4;

  @media ($mdMin) {
    font-size: rem(22);
  }
}

.image {
  flex: 1 0 30%;
  margin-left: auto;
  padding: rem(20 0 0 20);
  width: 30%;

  @media ($mdMin) {
    flex: 1 0 50%;
    padding: rem(20 0 0 25);
    width: 50%;
  }
}
