.wrapper {
  @media ($smMax) {
    padding: rem(0 10);
  }

  @media ($mdMin) {
    padding: rem(20 0 40);
  }
}

.inner {
  border-top: 1px solid $black;
  display: flex;
  flex-flow: column nowrap;
  height: 100%;
  justify-content: center;
  padding: rem(20 0);

  @media ($smMin) {
    flex-flow: row nowrap;
  }
}

.content {
  @media ($smMin) {
    flex: 1 0 70%;
    padding-right: rem(20);
  }

  @media ($mdMin) {
    flex: 1 0 50%;
    padding-right: rem(25);
  }
}

.eyebrow {
  display: block;
  font-size: rem(15);
  font-weight: 600;
  margin-bottom: rem(10);

  @media ($mdMin) {
    font-size: rem(16);
    margin-bottom: rem(20);
  }
}

.title {
  font-size: rem(18);
  font-weight: 600;
  margin-bottom: rem(20);

  @media ($smMin) {
    font-size: rem(22);
  }

  @media ($mdMin) {
    font-size: rem(32);
  }
}

.description {
  font-size: rem(17);
  font-weight: 300;
  line-height: 1.4;

  @media ($mdMin) {
    font-size: rem(22);
  }
}

.image {
  padding-top: rem(20);

  @media ($smMin) {
    flex: 1 0 30%;
    margin-left: auto;
    padding: rem(20 0 0 20);
    width: 30%;
  }

  @media ($mdMin) {
    flex: 1 0 50%;
    padding: rem(20 0 0 25);
    width: 50%;
  }

  span {
    /* @todo confirm this is necesary on production, as image cropping was not happening locally */
    margin-bottom: 0;
    overflow: hidden;
  }
}
