.wrapper {
  font-family: $sans;
  margin: 0 auto;
  max-width: 100%;
  overflow: auto;
}

.welcomeMessage {
  color: $color-heading;
  font-size: rem(30);
  font-weight: 600;
  line-height: 1;

  @media ($mdMin) {
    font-size: rem(40);
  }
}

.greeting {
  font-size: rem(40);
  line-height: 1;

  @media ($mdMin) {
    font-size: rem(50);
  }
}

.accessBanner {
  font-size: rem(30);
  line-height: 1.06;

  & > a {
    border-bottom: 2px solid $black;
  }

  @media ($mdMin) {
    font-size: rem(40);
  }
}

.inlineString {
  display: inline;
}

.accountControls,
.extraControls {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  & > div {
    max-width: rem(540);
  }

  @media ($mdMax) {
    flex-direction: column;

    & > div {
      margin-bottom: rem(10);
      max-width: 100%;
    }
  }
}

.accountControls {
  @media ($mdMin) {
    border-bottom: 2px solid $black;
    border-top: 2px solid $black;
    margin: rem(50) 0;
    padding: rem(40) 0;
  }
}

.accountControls,
.extraControls {
  align-items: flex-start;
}

.button {
  @include groupBtn;
}

.buttonContainer {
  .button {
    align-items: center;
    justify-content: center;
    margin-top: rem(15);
    white-space: nowrap;
    width: rem(280);
  }

  @media ($mdMax) {
    display: flex;
    flex-direction: column;
  }
}

.accountDetails,
.subscription,
.socialConnections,
.discounts {
  display: inline-flex;
  flex-direction: column;

  h2 {
    color: $color-heading;
    font-size: rem(30);
    line-height: 1;
    margin-bottom: rem(10);
    padding: 0;

    @media ($mdMin) {
      font-size: rem(40);
    }
  }

  p {
    font-size: rem(18);
    line-height: 1.3;
    margin: 0 0 rem(10);
    word-wrap: break-word;

    @media ($mdMin) {
      font-size: rem(20);
    }
  }

  @media ($mdMax) {
    border-top: 2px solid $black;
    margin: rem(50) 0;
    padding: rem(40) 0 0 0;
  }

  @media ($smMin) {
    padding-bottom: 0;
  }
}

.twitterIcon,
.googleIcon,
.facebookIcon {
  display: flex;
  width: rem(18);

  & > svg {
    width: rem(22);
  }
}

.googleIcon,
.twitterIcon {
  margin-right: rem(6);
}

.facebookIcon > svg {
  width: rem(12);
}

.discountList {
  margin-top: rem(10);

  h3 {
    font-size: rem(18);
    font-weight: 700;
  }
}

.discount {
  margin-bottom: rem(20);

  a {
    text-decoration: underline;
  }

  &:last-of-type {
    margin-bottom: 0;
  }
}

.horizontalFormGroup {
  @include horizontalForm;
}

.formInput {
  @include formInput;

  &.inputInvalid {
    @include inputInvalid;
  }
}

.inputButton {
  @include inputBtn;
}

.formError {
  @include formErrorMsg;
}

.formWrapper {
  display: block;

  form {
    flex-grow: 1;
  }

  @media ($lgMin) {
    display: flex;
  }
}

.secondaryButton {
  @include btnLink;

  background-color: transparent;
  border: none;
  display: inherit;
  flex-basis: 0;
  padding-left: 0;

  @media ($lgMin) {
    padding-left: rem(20);
  }
}
