.channel {
  background-color: #000000;
  color: #ffffff;
  min-height: 275px;
  padding: 20px 20px 25px 20px;
  position: relative;
}

.label {
  border: 1px solid #ffffff;
  bottom: 25px;
  display: block;
  font-family: "NeueHaas", sans-serif;
  font-size: 30px;
  font-weight: 300;
  left: 20px;
  padding: 15px;
  position: absolute;
  top: 20px;
  width: 260px;
}

.name {
  display: inline-block;
  font-weight: 600;
  width: 100%;
}

.listContainer {
  bottom: 20px;
  left: 301px;
  position: absolute;
  right: 20px;
  top: 20px;
}

.list {
  border-top: 3px solid #ffffff;
  bottom: 0;
  overflow: hidden;
  position: absolute;
  width: 100%;
}
