.channel {
  background-color: $color-deck;
  color: #ffffff;
  display: flex;
  margin-bottom: rem(15);
  margin-top: rem(5);
  padding: rem(30 20 45 20);
  position: relative;
}

.label {
  display: block;
  font-family: $sans;
  font-size: rem(30);
  font-weight: 400;
  line-height: 1.07;
  padding-top: rem(5);
  width: rem(288);
}

.name {
  display: inline-block;
  font-weight: 600;
  width: 100%;
}

.list {
  overflow: hidden;
  padding-bottom: rem(45);
  padding-left: rem(30);
  width: 100%;
}

.rectangle {
  background-color: #f3f3f3;
  display: block;
  height: 5px;
  margin-top: rem(10);
  width: 100px;
}
