.channel {
  background-color: $color-deck;
  color: #ffffff;
  display: flex;
  flex-direction: column;
  margin-bottom: rem(15);
  margin-top: rem(5);
  padding: rem(30 20 35 20);
  position: relative;

  @media ($smMin) {
    flex-direction: row;
    padding-bottom: rem(45);
  }  
}

.label {
  display: block;
  font-family: $sans;
  font-size: rem(30);
  font-weight: 400;
  line-height: 1.07;
  width: rem(288);

  @media ($smMax) {
    margin-bottom: rem(30);
  }
}

.name {
  display: inline-block;
  font-weight: 600;
  width: 100%;
}

.list {
  overflow: hidden;
  width: 100%;

  @media ($smMin) {
    padding-left: rem(30);
  }
}

.rectangle {
  background-color: #f3f3f3;
  display: block;
  height: 5px;
  margin-top: rem(10);
  width: 100px;
}
