.grid {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.grid--3up {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.grid__heading {
    font-size: rem(64);
    font-weight: 700;
}

.grid__item {
    flex-basis: auto;
    margin: 0 1rem;
}

.grid__item--centered {
    display: flex;
    flex-direction: column;
    align-items: center;
}

