.grid {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.grid__heading {
    font-size: rem(64);
    font-weight: 700;
    margin: 0 1rem;
}

.grid__item {
    flex-basis: 1;
    margin: 0 rem(9);
    flex-grow: 0;
    flex-shrink: 1;
    width: 100%;
}
