:global {
  .ImageAlert {
    /* Includes wrapper styles from components/columnArea/columnArea--feed.css */
    /* Needs to be added manually as component not served through React */
    @include container;
    background-color: $color-text;
    display: flex;
    flex-flow: row wrap;
    font-family: $sans;
    justify-content: space-between;
    padding-bottom: rem(15);
    width: 100%;
  }

  .ImageAlert__wrapper {
    display: flex;
    flex-flow: row nowrap;
    height: auto;
    justify-content: space-between;
    width: 100%;
  }

  .ImageAlert__fields {
    @include container;
    color: $white;
    margin-bottom: rem(30);
    margin-top: rem(40);
    width: 100%;

    @media ($mdMin) {
      max-width: calc(tidy-span-full(6) - rem(20));
      tidy-offset-left: 1;
      width: calc(tidy-span(6) - rem(20));
    }
  }

  .ImageAlert__image {
    display: none;
    flex: 1 0 auto;
    position: relative;

    @media ($mdMin) {
      display: block;
    }

    img {
      bottom: 0;
      position: absolute;
      width: 100%;
    }
  }

  .ImageAlert__slug {
    font-size: rem(20);
    line-height: 0.86;
    margin-bottom: rem(40);
  }

  .ImageAlert__message {
    font-size: rem(30);
    font-weight: 400;
    line-height: 1.07;
    margin-bottom: rem(25);
  }

  .btn--subscribe {
    font-size: rem(100);
  }

  .ImageAlert__btn {
    display: inline-flex;
    font-size: 1rem;
    font-weight: 600;
    justify-content: center;
    line-height: 1;
    margin-right: rem(30);
    min-width: rem(160);
    padding: rem(10 26);
  }

  .ImageAlert__btn--subscribe {
    background-color: $call-to-action;
    border: 1px solid $call-to-action;
    color: $black;
    margin-bottom: rem(10);

    @media ($smMin) {
      margin-bottom: 0;
    }
  }

  .ImageAlert__btn--signin {
    border: 1px solid $white;
  }
}
