{
  "plugins": [
    "react-hot-loader/babel",
    "transform-object-rest-spread",
    "transform-class-properties",
    [
      "module-resolver",
      {
        "root": ["./"],
        "alias": {
          "assets": "./assets",
          "actions": "./actions",
          "components": "./components",
          "config": "./config",
          "reducers": "./reducers",
          "sagas": "./sagas",
          "selectors": "./selectors",
          "services": "./services",
          "utils": "./utils"
        }
      }
    ]
  ],
  "presets": [
    "env",
    "react",
    ["latest-node", { "target": 8 }]
  ]
}
