# dependencies
/node_modules
/packages/**/node_modules

# distribution files
/packages/**/dist

# styleguide
/styleguide/index.html
/styleguide/stats.json
/styleguide/build
/styleguide/static

# storybook
.storybook-styled-components/

# misc
.DS_Store
.env*
.idea

# vscode
/.vscode

# debug
npm-debug.log*
lerna-debug.log*
