# dependencies
/node_modules
/docs/node_modules
/irvingjs.com/node_modules
/packages/**/node_modules
.npmrc

# distribution files
/packages/**/dist
/irvingjs.com/dist/*

# styleguide
/styleguide/index.html
/styleguide/stats.json
/styleguide/build
/styleguide/static

# storybook
docs/storybook-static/

# misc
.DS_Store
.env*
.idea

# vscode
/.vscode

# debug
npm-debug.log*
lerna-debug.log*
