localhost:443

proxy /blaize https://technologyreview-staging.cdn.blaize.io {
  transparent
  header_upstream Host technologyreview-staging.cdn.blaize.io
}

proxy /wp-json/mittr/v1/zephrComponents https://technologyreview-staging.cdn.blaize.io {
  transparent
  header_upstream Host technologyreview-staging.cdn.blaize.io
}

proxy / https://localhost:3001 {
  insecure_skip_verify
}

tls self_signed
