localhost:443

proxy /blaize https://zephr-develop.technologyreview.com {
  transparent
  header_upstream Host zephr-develop.technologyreview.com
}

proxy /wp-json/mittr/v1/zephrComponents https://zephr-develop.technologyreview.com {
  transparent
  header_upstream Host zephr-develop.technologyreview.com
}

proxy / https://localhost:3001 {
  insecure_skip_verify
}

tls self_signed
