/* SearchBar component styles */

.wrapper {
  margin-bottom: rem(10);
  width: 100%;
}

.input {
  flex: 1 1 auto;

  input {
    background-color: transparent;
    border: 0;
    color: $white;
    font-family: $sans;
    font-size: rem(26);
    font-weight: 600;
    line-height: 0.91;
    padding: rem(10) rem(10) rem(4) 0;
    width: 100%;
  }

  label {
    @include screenreader-only;
  }
}

.form {
  border-bottom: $border-thin--white;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
}

.submit {
  flex: 0 0 rem(34);
}

.standaloneWrapper {
  background-color: $color-deck;
  margin-bottom: rem(15);
  padding: rem(50) rem(20) rem(40) rem(20);

  & form {
    border-bottom: none;
  }

  & input {
    font-size: rem(40);
    font-weight: 600;

    @media ($smMin) {
      font-size: rem(50);
    }
  }

  & input:focus {
    outline: none;
  }
}
