.wrap {
  border-top: $border-thin;
  padding-top: rem(20);

  @media ($mdMin) {
    margin: rem(25);
    width: rem(215);
  }

  &:first-child {
    margin-top: 0;
  }
}

.header {
  font-family: $sans;
  font-size: rem(20);
  font-weight: 700;
  margin-bottom: rem(20);
}

.listWrap {
  margin: 0;
  padding: 0;
}
