/**
 * ContentList gutenberg block styles.
 *
 * Needs global scope to be included in editor styles.
 */

/* stylelint-disable selector-max-specificity */

@import './contentListItem/contentListItem.css';

:global {

  .block-editor-block-list__layout .contentList__wrap .block-editor-block-list__block {
    padding-left: rem(14);
    padding-right: rem(14);
  }

  .contentList__wrap {
    border-top: $border-thin;
    clear: left;
    float: left;
    font-family: $sans;
    font-size: rem(14);
    margin-left: 0;
    margin-top: rem(6);
    padding: rem(20) rem(40) rem(30) rem(10);
    position: relative;
    width: 100%;

    @media ($smMin) {
      margin-left: -16%;
      width: 50%;
    }

    &.content-right {
      clear: right;
      float: right;
      margin-left: rem(40);
      padding-left: rem(10);
      padding-right: 0;

      @media ($mdMin) {
        margin-right: -16.66%;
        tidy-span: 3;
      }

      @media ($lgMin) {
        margin-right: -33.333%;
      }
    }

    &.content-left {
      clear: left;
      float: left;
      margin-right: rem(40);
      padding-left: 0;
      padding-right: rem(10);

      @media ($mdMin) {
        margin-left: -16.66%;
        tidy-span: 3;
      }

      @media ($lgMin) {
        margin-left: -33.333%;
      }
    }

    &.content-full {
      clear: right;
      float: right;
      margin-bottom: 0;
      margin-left: 0;
      padding-bottom: 0;
      padding-left: 0;
      padding-right: 0;

      @media ($smMin) {
        margin-left: rem(32);
      }

      @media ($mdMin) {
        width: rem(222);
      }

      @media ($lgMin) {
        margin-right: -16.66%;
      }
    }

    &.content-center {
      clear: both;
      float: none;
      margin: 0 auto;
      padding-bottom: 0;
      padding-left: 0;
      padding-right: 0;

      @media ($mdMin) {
        width: rem(222);
      }
    }
  }

  .contentList__header {
    font-family: $sans;
    font-size: rem(20);
    font-weight: 700;
    margin-bottom: rem(20);
    padding-left: 0;
  }

  .contentList__listWrap {
    margin: 0;
    padding: 0;
  }
}
