.accountWrap {
  font-family: $sans;
  margin: rem(40) auto rem(50);
  max-width: rem(758);
  padding: 0 rem(15);
}

.accountHeader {
  @include accountHeader;
}

.accountSubHeader {
  @include accountSubHeader;
}

.accountHeaderDescription {
  @include accountHeaderDescription;
  margin-bottom: rem(25);
}

.formWrap {
  @include zephrForm;
}

.ssoText {
  color: #000;
  display: inline;
  float: left;
  font-size: rem(16);
  font-weight: 400;
  margin-right: rem(10);
  padding-left: 0;
}

.ssoList {
  display: flex;
  margin: 0;
  padding: 0;

  li {
    margin: 0 rem(3);
  }

  a {
    font-weight: 600;
    padding-right: rem(5);
    text-decoration: underline;
  }
}

.alumTitle {
  font-family: $sans;
  font-size: rem(24);
  font-weight: 500;
  margin-bottom: rem(10);
}

.leadIn {
  font-weight: 600;
}

.connectBtn {
  @include btn;
  @include btnGray;
}

.btnLink {
  @include btnLink;
}

.formError {
  color: $red;
  display: block;
  margin-bottom: rem(10);
}
