.wrapper {
  font-family: $sans;
  margin: rem(40) auto rem(50);
  max-width: rem(758);
  padding: 0 rem(15);
}

.header {
  @include accountHeader;
}

.subheader {
  @include accountSubHeader;
}

.headerDescription {
  @include accountHeaderDescription;
  margin-bottom: rem(25);
}

.formWrap {
  @include zephrForm;
}

.ssoText {
  color: #000;
  display: block;
  font-size: rem(16);
  font-weight: 400;
  margin-bottom: rem(5);
  padding-left: 0;

  @media ($mdMin) {
    display: inline;
    float: left;
    margin-bottom: 0;
    margin-right: rem(10);
  }
}

.ssoList {
  display: flex;
  margin: 0;
  padding: 0;
  position: relative;

  li {
    margin: 0 rem(3);

    &:first-child {
      margin-left: 0;
    }
  }

  button {
    font-weight: 600;
    padding-right: rem(5);
    text-decoration: underline;
  }
}

.alumTitle {
  font-family: $sans;
  font-size: rem(24);
  font-weight: 500;
  margin-bottom: rem(10);
}

.leadIn {
  font-weight: 600;
}

.connectBtn {
  @include btn;
  @include btnGray;
}

.btnLink {
  @include btnLink;
}

.formError {
  color: $red;
  display: block;
  margin-bottom: rem(10);
}

.registerLink {
  text-decoration: underline;
}

.tooltip {
  background-color: $color-deck;
  color: $white;
  max-width: rem(300);
  padding: rem(15) rem(10);
  position: absolute;
  top: rem(-145);

  /* stylelint-disable */
  &:after {
    top: 100%;
    left: rem(26);
    border: solid transparent;
    border-top-color: $color-deck;
    border-width: rem(10);
    content: '';
    height: 0;
    margin-left: rem(-10);
    pointer-events: none;
    position: absolute;
    width: 0;
  }
  /* stylelint-enable */

  p {
    color: $white;
    font-size: rem(14);
    letter-spacing: 1.25;
    line-height: 1.25;
    margin-bottom: rem(15);

    &:last-of-type {
      margin-bottom: 0;
    }
  }

  a {
    text-decoration: underline;
  }
}
