/* Byline component styles */

.wrapper {
  font-family: $sans;
}

.by {
  display: inline;
  padding-right: 0.5ch;
}

.name {
  font-weight: 700;
}

.list {
  display: inline-block;
}

.author {
  display: inline;

  &::after {
    display: inline;
  }

  /* stylelint-disable selector-max-specificity */
  &:nth-last-child(2) {
    &::after {
      content: 'and';
      padding-left: 0.5ch;
      padding-right: 0.5ch;
    }
  }

  &:not(:nth-last-child(2)):not(:only-child):not(:last-child) {
    &::after {
      content: ',';
      padding-right: 0.5ch;
    }
  }
  /* stylelint-enable */
}
