/* Byline component styles */

.wrapper {
  font-family: $sans;
}

.by {
  float: left;
}

.author {
  float: left;

  .name {
    font-weight: 700;
  }

  .and {
    padding: 0 rem(5) 0 rem(5);
  }
}
