.container {
  background-color: $white;
  border-bottom: 1px solid #c8c8c8;
  color: $black;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  margin: 0 auto;
  min-height: rem(62);
  position: relative;
  width: 100%;
  z-index: 1100;
}

.wrapper {
  @include container-with-bleed;
  align-items: center;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  margin: rem(10) auto 0;
  padding-bottom: rem(3);
  position: relative;
  z-index: 2;

  @media ($smMin) {
    margin: rem(30) auto 0;
  }

  &.isHeadroom {
    justify-content: space-between;
    margin-top: 0;

    @media ($mdMin) {
      justify-content: flex-start;
    }
  }
}

.logo {
  align-items: center;
  display: flex;
  flex-flow: row nowrap;
  tidy-span: 4;

  @media ($smMin) {
    tidy-span: 3;
  }

  @media ($mdMin) {
    tidy-offset-left: 1;
    tidy-span: 2;
  }

  &.logoHeadroom {
    max-width: none;
    width: auto;

    @media ($mdMin) {
      tidy-offset-left: 0;
    }
  }
}

.logoStacked {
  bottom: rem(8);
  display: none;
  flex-flow: row nowrap;
  justify-content: flex-start;
  margin-bottom: tidy-var(gap);
  margin-left: rem(-7); /* Vertical align the R and T on the grid */

  @media ($smMin) {
    display: flex;
  }

  svg {
    display: block;
    height: rem(100);
    width: rem(184);
  }
}

.logoHeadroom {
  display: flex;
}

.logoHeadroomT {
  align-items: center;
  display: flex;

  svg {
    display: block;
    height: rem(22);
    width: rem(22);
  }
}

.logoHorizontal {
  align-items: center;
  display: flex;
  height: 100%;

  svg {
    display: block;
    width: rem(210);
  }

  .isHeadroom & {
    margin-left: 0;

    @media only screen and (min-width: 790px) {
      margin-left: rem(80);
    }

    svg {
      width: rem(160);
    }
  }
}

.title {
  align-items: center;
  display: none;
  flex: 1;
  height: 100%;
  min-width: 0;
  padding-right: rem(15);
  tidy-offset-left: 1;

  @media ($smMin) {
    display: flex;
  }

  @media only screen and (min-width: 790px) {
    margin-left: rem(80);
  }

  > div {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}

.leaderboardRow {
  flex: 1 0 100%;
  min-height: rem(90);
  width: 100%;

  :global(.adUnit) {
    /* stylelint-disable selector-max-specificity */
    &[loaded="true"] {
      margin: rem(20 0);
    }
    /* stylelint-enable */
  }
}

.navigation {
  align-content: flex-end;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;

  @media only screen and (min-width: 790px) {
    margin-left: auto;
  }

  &.isHeadroom {
    right: tidy-var(edge);
  }
}

.menuRow {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-end;
}

.menu {
  display: none;
  flex-flow: row nowrap;
  opacity: 1;
  transition: opacity 0.1s ease;

  @media only screen and (min-width: 790px) {
    display: flex;
  }

  &.isHidden {
    opacity: 0;
    pointer-events: none;
  }
}

.socialLinks {
  margin-left: 0;
  opacity: 0;
  pointer-events: none;
  position: absolute;
  right: rem(75);
  top: 50%;
  transform: translateY(-50%);
  transition: opacity 0.1s ease;

  &.isVisible {
    opacity: 1;
    pointer-events: all;
  }
}

.button {
  display: flex;
  padding: rem(15 10);
  width: rem(50);
  z-index: 2;

  svg {
    display: block;
    height: rem(19);
    position: relative;
    top: -2px;
    width: rem(31);
  }
}

.buttonVisualContent {
  display: flex;
  height: 100%;
  justify-content: center;
  width: 100%;
}

.expandedButton {
  background-color: $white;
  height: auto;
  text-decoration: underline;
  width: auto;
  z-index: 999;
}

.megaMenu {
  background-color: $black;
  color: $white;
  left: 0;
  position: absolute;
  width: 100%;
  z-index: 1;
}

.userGreeting {
  display: none;

  @media ($smMin) {
    display: block;
  }
}
