.container {
  background-color: $white;
  border-bottom: 1px solid #c8c8c8;
  color: $black;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  min-height: rem(62);
  position: relative;
  width: 100%;
  z-index: 1100;
}

.wrapper {
  @include container-with-bleed;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  margin: rem(10) auto 0;
  padding-bottom: 0;
  position: relative;

  @media ($smMin) {
    margin: rem(30) auto 0;
  }

  &.isHeadroom {
    justify-content: flex-start;

    @media ($smMin) {
      margin: rem(10) auto 0;
    }
  }
}

.logo {
  align-items: center;
  display: flex;
  flex-flow: row nowrap;
  tidy-span: 4;

  @media ($smMin) {
    tidy-span: 3;
  }

  @media ($mdMin) {
    tidy-offset-left: 1;
    tidy-span: 2;
  }

  &.headroomLogo {
    tidy-span: 4;

    @media ($mdMin) {
      tidy-offset-left: 0;
      tidy-span: 3;
    }
  }
}

.logoStacked {
  bottom: rem(8);
  display: none;
  flex-flow: row nowrap;
  justify-content: flex-start;
  margin-bottom: tidy-var(gap);
  margin-left: rem(-7); /* Vertical align the R and T on the grid */
  position: relative;

  @media ($smMin) {
    display: flex;
  }

  svg {
    display: block;
    height: rem(100);
    width: rem(184);
  }
}

.logoHorizontal {
  svg {
    display: block;
    height: rem(20);
    width: rem(210);

    .headroom & {
      height: rem(15);
      width: rem(210);
    }
  }

  /* stylelint-disable selector-max-specificity */
  &.logoHorizontalHeadroom {
    svg {
      height: rem(20);
      width: rem(160);

      .headroom & {
        height: rem(15);
        width: rem(160);
      }
    }
  }
  /* stylelint-enable selector-max-specificity */
}

.logoT {
  align-items: center;
  display: flex;
  tidy-span: 2;

  @media ($smMin) {
    tidy-span: 1;
  }

  svg {
    display: block;
    height: rem(22);
    width: rem(22);
  }
}

.leaderboardRow {
  flex: 1 0 100%;
  min-height: rem(90);
  width: 100%;

  :global(.adUnit) {
    /* stylelint-disable selector-max-specificity */
    &[loaded="true"] {
      margin: rem(20 0);
    }
    /* stylelint-enable */
  }
}

.navigation {
  align-content: flex-end;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  margin-left: tidy-var(gap);
  position: static;
  tidy-span: 5;

  .isHeadroom & {
    tidy-span: 6;

    @media ($smMin) {
      tidy-span: 7;
    }

    @media ($mdMin) {
      tidy-span: 8;
    }
  }
}

.menuRow {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-end;
  position: static;
}

.menu {
  display: none;
  flex-flow: row nowrap;
  position: static;

  @media only screen and (min-width: 790px) {
    display: flex;
  }
}

.button {
  display: flex;
  padding: rem(15) rem(10);
  z-index: 2;

  svg {
    display: block;
    height: rem(19);
    position: relative;
    top: -2px;
    width: rem(31);
  }
}

.buttonVisualContent {
  display: block;
  height: 100%;
  width: 100%;
}

.expandedButton {
  background-color: $white;
  height: auto;
  text-decoration: underline;
  width: auto;
  z-index: 999;
}

.megaMenu {
  background-color: $black;
  color: $white;
  left: 0;
  position: absolute;
  width: 100%;
  z-index: 1;
}

.userGreeting {
  display: none;

  @media ($smMin) {
    display: block;
  }
}
