.wrapper {
  :global(.adUnit) {
    margin-bottom: rem(20);
    margin-top: rem(20);
    /* stylelint-disable selector-max-specificity */
    &[loaded="true"] {
      & > div > div > div {
        /* ensure this margin is only being applied to the add if it's actually loaded. */
        margin-bottom: rem(0);
      }
    }
    /* stylelint-enable selector-max-specificity */
  }
}

.hidden {
  display: none;
}

.button {
  border: $border-thin;
  color: $black;
  font-family: $sans;
  font-size: rem(20);
  font-weight: 600;
  line-height: 1;
  padding: rem(22) rem(18) rem(18);
  text-align: center;
  width: 100%;

  &:hover {
    background-color: $black;
    color: $white;
  }
}
