.content {
  background-color: $white;
  padding-top: rem(20);

  :global(.body--feed) &,
  :global(.body--search) &,
  :global(.body--author) &,
  :global(.body-magazine) & {
    background-color: $background-gray;
  }

  /* @todo review if body padding makes sense on most articles. */
  :global(.body--35-list) & {
    padding: 0;

    @media ($lgMin) {
      padding: 0;
    }
  }

  :global(.body--innovators-list) & {
    padding: 0;

    @media ($lgMin) {
      padding: 0;
    }
  }
}
