main {
  width: 100%;
}

/* All styles below are a stub for the demo */
@font-face {
  font-family: "Independent";
  font-style: normal;
  font-weight: 400;
  src: url('https://cdn.technologyreview.com/_/fonts/independent-regular.woff');
}

@font-face {
  font-family: "Independent";
  font-style: normal;
  font-weight: 700;
  src: url('https://cdn.technologyreview.com/_/fonts/independent-bold.woff');
}

.content,
p,
h2 {
  font-family: "Independent", serif;
  font-size: 16px;
  line-height: 1.5;
}

p,
h2,
h3,
h4,
h5,
h6,
ul,
ol {
  margin: 0 20px 20px;
}

h2 {
  font-weight: 700;
}
