.content {
  padding-top: rem(15);

  @media ($mdMin) {
    padding-top: rem(20);
  }

  :global(.body--feed) &,
  :global(.body--search) &,
  :global(.body--author) &,
  :global(.body-magazine) &,
  :global(.body--article) & {
    background-color: $background-gray;
  }
  
  :global(.body--magazine) & {
    padding-top: rem(40);

    @media ($smMin) {
      padding-top: rem(60);
    }
  }

  /* @todo review if body padding makes sense on most articles. */
  :global(.body--35-list) & {
    padding: 0;

    @media ($lgMin) {
      padding: 0;
    }
  }

  :global(.body--innovators-list) & {
    padding: 0;

    @media ($lgMin) {
      padding: 0;
    }
  }
}

.obscureContent {
  max-height: 200vh;
  overflow: hidden;
  position: relative;

  @media screen and (orientation: landscape) {
    /* Needs to be short enough to visibly obscure the end of the article. */
    @media ($lgMin) {
      max-height: 300vh;
    }
  }

  &::after {
    background: linear-gradient(180deg,hsla(0,0%,100%,0) 0, $white);
    bottom: 0;
    content: '';
    display: block;
    height: 100vh;
    position: absolute;
    width: 100%;
    z-index: 2;
  }
}
