.wrapper {
  position: relative;

  &::after {
    background-color: $black;
    bottom: 0;
    content: '';
    display: none;
    height: 2px;
    position: absolute;
    right: 0;
    width: tidy-span(12);
  }

  @media ($smMin) and ($mdMax) {
    flex: 0 1 calc(50% - 36px);
    margin-right: 72px;

    &:nth-child(2n) {
      margin-right: 0;
      /* stylelint-disable selector-max-specificity */
      &:not(:last-child) {
        &::after {
          display: block;
        }
      }
      /* stylelint-enable */
    }
  }

  @media ($mdMin) {
    flex: 0 1 calc(33.33% - 100px);
    margin-right: 100px;

    &:nth-child(3n) {
      margin-right: 0;
      /* stylelint-disable selector-max-specificity */
      &:not(:last-child) {
        &::after {
          display: block;
          /* stylelint-disable value-keyword-case */
          max-width: calc(tidy-var(siteMax) - (tidy-span(1) + tidy-var(edge)));
          /* stylelint-enable */
          width: calc(100vw - (tidy-span(1) + tidy-var(edge)));
        }
      }
      /* stylelint-enable */
    }
  }
}

.inner {
  display: flex;
  flex-flow: column nowrap;
  padding-top: rem(40);
}

.title {
  font-size: rem(24);
  line-height: 1.1;
  margin-bottom: rem(10);

  @media ($mdMin) {
    font-size: rem(30);
  }
}

.timeDate {
  display: block;
  font-size: rem(14);
  margin-bottom: rem(30);

  @media ($mdMin) {
    font-size: rem(16);
  }
}

.time {
  &::after {
    content: '|';
    display: inline-block;
    margin: rem(0 5);
  }
}

.description {
  font-size: rem(18);
  line-height: 1.08;
  margin-bottom: rem(30);

  @media ($mdMin) {
    font-size: rem(20);
    line-height: 1.07;
    margin-bottom: rem(50);
  }
}

.image {
  margin-bottom: rem(15);
  order: -1;

  span {
    background-color: #eee;
    margin: 0;
    overflow: hidden;
  }
}
/* @todo check font weight */
.moreButton {
  display: inline-flex;
  font-size: rem(16);
  min-width: rem(200);

  @media ($mdMin) {
    font-size: rem(20);
    min-width: rem(240);
  }
}
