/* TermArchivePinnedArticle component styles */

.wrapper {
  color: $white;
  display: flex;
  flex-flow: column nowrap;
  font-size: rem(14);
  line-height: 1.44;
  width: 100%;

  @media ($smMin) {
    font-size: rem(18);
  }
}

.title {
  font-family: $sans;
  font-weight: 700;

  &:hover {
    text-decoration: underline;
  }
}

.deck {
  font-size: rem(17);
  line-height: 1.2;
}
