.response {
  padding: rem(30) 0;
  text-align: center;
}

.submitting {
  color: blue;
}

.success {
  color: blue;
  font-size: rem(22);
}

.error {
  color: $red;
  display: block;
  margin-bottom: 1rem;
}
