.inputWrapper {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  margin-bottom: rem(10);
}

.label {
  margin-bottom: rem(5);
}

.input {
  box-sizing: border-box;
  height: rem(42);
  padding: rem(5) rem(10);
}

.textarea {
  padding: rem(10);
}

.input,
.textarea {
  border: 1px solid $black;

  .error & {
    border-color: red;
  }
}

.errorText {
  color: red;
}
