/* MagazineIssue component styles */

.cover {
  overflow: hidden;
  width: 100%;
  max-width: rem(190);
}

.wrapper {
  align-items: center;
  background-color: $black;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  padding: rem(25);

  @media ($smMin) {
    padding: rem(50);
  }
}
