/* UserGreeting component styles */

.wrapper {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-end;
  margin-bottom: rem(15);
}

.button {
  background: $white;
  border: $border-thin;
  display: inline-block;
  font-family: $sans;
  font-weight: 600;
  line-height: 1.14;
  padding: rem(10) rem(20);
  text-align: center;

  &:hover {
    background-color: $black;
    color: $white;
  }
}

.subscribe {
  border-color: $red;
  color: $red;
  composes: button;
  margin-left: 1rem;

  &:hover {
    background-color: $red;
    color: $white;
  }
}
