
/* Block Wrappers */
.profileWrapper {
  background-color: #ffffff;
  display: flex;
  padding: rem(50) rem(20);
}

.imageWrapper {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin-right: rem(20);

  & img {
    /* background color is for dev only */
    background-color: red;
    border-radius: 50%;
    height: rem(192);
    width: rem(192);
  }

  @media ($smMax) {
    display: none;
  }
}

.mobileImageWrapper {
  margin-right: rem(20);

  & img {
    /* background color is for dev only */
    background-color: blue;
    border-radius: 50%;
    height: rem(192);
    width: rem(192);
  }

  @media ($smMin) {
    display: none;
  }
}

/* Author Meta */
.profile {
  display: flex;
  flex-direction: row;
}

.meta {
  display: flex;
  flex-direction: column;

  @media ($smMin) {
    & .title {
      display: none;
    }
  }
}

.affiliation {
  font-size: rem(40);
  line-height: rem(36);
  margin: 0;
  padding: 0;
  color: #767676;
}

.name {
  font-size: rem(50);
}

.title {
  font-size: rem(16);
  font-weight: 600;
  line-height: rem(22);
  margin-top: rem(20);
}

/* Bio */
.bio {
  font-size: rem(20);
  line-height: rem(26);
  margin-top: rem(20);

  & a {
    border-bottom: $border-thin;
  }

  & i {
    font-style: italic;
  }

  & strong {
    font-style: bold;
  }
}

/* Link to Twitter Profile */
.socialIcon {
  height: rem(22);
  width: rem(22);
}

.twitter {
  align-items: center;
  display: flex;
  flex-direction: row;
  font-weight: 700;
  margin-top: rem(20);

  & > span {
    display: block;
    font-size: rem(20);
    margin-left: rem(2);
    margin-top: rem(-6);
  }
}
