.wrapper {
  color: $black;
  display: none;
  font-family: $sans;
  font-size: rem(18);
  font-weight: 600;
  position: absolute;
  right: 0;
  top: 0;
  width: rem(300);

  &.isVisible {
    display: block;
  }
}

.description {
  margin-bottom: rem(20);
}

.stat {
  margin-bottom: rem(20);
}
