@keyframes spin {

  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.spinner path {
  transform-origin: 50% 50%;
}

.spinner :global(.opaque) {
  animation: spin 1s infinite;
}

.spinner :global(.transparent) {
  animation: spin 1s infinite 0.2s;
}
