/* TopicHeader component styles */

.wrapper {
  background-color: #7d38a3; /* @todo update with color option. */
  display: flex;
  flex-flow: row wrap;
  padding: rem(20);

  @media ($smMin) {
    flex-wrap: nowrap;
  }
}

.meta {
  width: 100%;

  @media ($smMin) {
    tidy-span: 5;
  }

  @media ($mdMin) {
    tidy-span: 3.5;
  }
}

.image {
  @media ($smMin) {
    tidy-span: 5;
  }

  @media ($mdMin) {
    tidy-span: 3.5;
  }
}

.name {
  color: $white;
  font-family: $sans;
  font-size: rem(50);
  letter-spacing: normal;
  line-height: 1;
  margin-bottom: rem(15);
}

.description {
  color: $white;
  font-family: $sans;
  font-size: rem(20);
  letter-spacing: normal;
  line-height: 1.3;
}
