/* TopicHeader component styles */

.wrapper {
  background-color: $color-deck;
  display: flex;
  flex-flow: row wrap;
  margin-bottom: rem(5);
  padding: rem(20);

  @media ($smMin) {
    flex-wrap: nowrap;
  }
}

.meta {
  margin-bottom: rem(10);
  width: 100%;

  @media ($smMin) {
    tidy-span: 5;
  }

  @media ($mdMin) {
    tidy-span: 3.5;
  }
}

.image {
  display: flex;
  flex-flow: row nowrap;
  overflow: hidden;
  width: 100%;

  @media ($smMin) {
    tidy-span: 5;
  }

  @media ($mdMin) {
    tidy-span: 3.5;
  }

  span {
    display: block;
    width: 100%;
  }
}

.name {
  color: $white;
  font-family: $sans;
  font-size: rem(40);
  letter-spacing: normal;
  line-height: 1;
  margin-bottom: rem(15);

  @media ($smMin) {
    font-size: rem(50);
  }
}

.description {
  color: $white;
  font-family: $sans;
  font-size: rem(18);
  letter-spacing: normal;
  line-height: 1.44;

  @media ($smMin) {
    font-size: rem(20);
    line-height: 1.3;
  }
}
