.wrapper {
  @include container;
  display: flex;
  flex-flow: column nowrap;
  font-family: $serif;
  width: 100%;
}

.title {
  color: $black;
  font-family: $sans;
  font-size: rem(50);
  font-weight: 600;
  letter-spacing: normal;
  line-height: 1;
  margin-bottom: rem(20);
}
