.wrapper {
  display: flex;
  flex-flow: column nowrap;
  font-family: $serif;
  width: 100%;
}

.title {
  color: $black;
  font-family: $sans;
  font-size: rem(24);
  font-weight: 600;
  letter-spacing: normal;
  line-height: rem(26);
  margin-bottom: rem(15);
  margin-top: rem(50);

  @media ($smMin) {
    line-height: rem(24);
  }
}

.pageHeader {
  @include accountHeader;
}

/* stylelint-disable-next-line selector-max-specificity */
:global(.body--page .wp-block-button.alignleft.is-style-outline) {
  margin: 0;
}
