.wrap {
  display: block;
  list-style: none;
  margin-bottom: rem(20);
}

.title {
  font-family: $sans;
  font-size: rem(15);
  font-weight: 700;
  margin-bottom: rem(3);

  a:hover {
    text-decoration: underline;
  }
}

.description {
  display: block;
  font-family: $sans;
  font-size: rem(15);
  font-weight: 300;
}
