@mixin formInput() {
  background-color: #fff;
  border: 1px solid #000;
  color: #222;
  font-size: rem(20);
  padding: rem(10);
  width: 100%;
}

@mixin inputInvalid() {
  border: 1px solid $red;
}

@mixin horizontalForm() {
  display: flex;
  flex: 0 0 auto;
  margin: rem(10) 0;

  label {
    width: 100%;
  }

  input {
    font-size: rem(16);
    display: block;
    width: 100%;
  }

  @media ($mdMax) {
    max-width: 80%;
  }

  @media ($smMax) {
    max-width: 100%;
  }
}

@mixin formErrorMsg {
  color: $red;
  display: block;
  margin-top: rem(10);
  margin-left: rem(10);
}
