@mixin formInput() {
  background-color: #fff;
  border: 1px solid #000;
  color: #222;
  font-size: rem(20);
  padding: rem(10);
  width: 100%;
}

@mixin inputInvalid() {
  border: 1px solid $red;
}

@mixin horizontalForm() {
  display: flex;
  flex: 0 0 auto;
  margin: rem(10) 0;

  label {
    width: 100%;
  }

  input {
    display: block;
    font-size: rem(16);
    width: 100%;
  }

  @media ($mdMax) {
    max-width: 80%;
  }

  @media ($smMax) {
    max-width: 100%;
  }
}

@mixin formErrorMsg {
  color: $red;
  display: block;
  margin-left: rem(10);
  margin-top: rem(10);
}

@mixin zephrForm {
  font-family: $sans;
  margin-bottom: rem(50);

  input {
    display: block;
    margin-bottom: rem(10);
  }

  /* Disable slector specificity to allow for programatic rendering of Zephr inputs */
  /* stylelint-disable selector-max-specificity */
  input[type='email'],
  input[type='password'],
  input[type='text'] {
    @include formInput;
    margin-right: rem(5);
  }

  input[type='submit'] {
    @include btn;
    @include blackBtn;
  }
  /* stylelint-enable */

  input[aria-invalid='true'] {
    @include inputInvalid;
  }

  :global(.form-error) {
    color: $red;
    display: block;
    margin-bottom: rem(10);
  }
}