@mixin container-with-bleed($columns: tidy-var(columns)) {
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
  padding-left: tidy-var(edge);
  padding-right: tidy-var(edge);
  width: calc(tidy-span($columns) + tidy-var(edge) * 2);

  @media ($lgMin) {
    max-width: calc(tidy-span-full($columns) + tidy-var(edge) * 2);
  }
}

/**
 * Ensures a tidy-columns property applies to all screen sizes.
 */
@mixin keep-tidy {
  /* For some reason @content will not work outside of a block. */
  @media ($smMax) {
    @content;
  }

  /* Matches column breakpoint in postcss config. */
  @media ($mdMin) {
    @content;
  }
}

/**
 * Content-width container.
 */
@mixin container {
  margin-left: auto;
  margin-right: auto;
  tidy-span: tidy-var(columns);
}
