@mixin label() {
  font-family: $sans;
  font-size: rem(14);
  font-weight: 600;
  margin-right: rem(12);
  text-transform: capitalize;
}

@mixin list-label($color: $text-black) {
  color: $color;
  display: inline-block;
  font-family: $sans;
  font-size: rem(21);
  font-weight: 700;
  margin-right: rem(15);
  padding: rem(12) rem(15);
  white-space: nowrap;
}

@mixin accountHeader() {
  color: $color-heading;
  font-family: $sans;
  font-size: rem(30);
  font-weight: 600;
  line-height: rem(30);

  @media ($smMin) {
    font-size: rem(40);
    line-height: rem(40);
  }
}

@mixin accountSubHeader() {
  color: $black;
  font-family: $sans;
  font-size: rem(40);
  font-weight: 600;
  line-height: 1;
  margin-bottom: 0;
  padding-left: 0;

  @media ($smMin) {
    font-size: rem(50);
    line-height: 1;
  }
}

@mixin accountHeaderDescription() {
  color: $black;
  font-family: $sans;
  font-size: rem(30);
  font-weight: 500;
  letter-spacing: -0.1px;

  @media ($smMin) {
    font-size: rem(40);
  }
}

:global(.monogramTLogo) {
  height: 14px;
  margin-left: 10px;
  width: 14px;
}
