@mixin button-reset {
  appearance: none;
  background-color: transparent;
  border: none;
  border-radius: 0;
  font: inherit;
  margin: 0;
  padding: 0;
}

@mixin screenreader-only {
  border: 0;
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  word-wrap: normal;
}

@mixin after-image($image: https://cdn.technologyreview.com/_/img/plus--white.svg) {
  position: relative;

  &::after {
    background-image: url($image);
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: contain;
    content: '';
    display: block;
    height: rem(12);
    position: absolute;
    right: rem(10);
    top: rem(10);
    transition: transform 235ms ease;
    width: rem(12);
  }
}
