.content {
  display: flex;
}

.titleLogo {
  flex: 0 1 50%;
}

.title {
  font-size: rem(32);
}

.description {
  flex: 0 1 50%;
  font-size: rem(17);
  font-weight: 300;
  line-height: 1.4;
}

.sponsorLogo {
  display: block;
  max-width: rem(120);

  .sponsorName {
    @include screenreader-only;
  }

  img {
    max-width: 100%;
  }
}
