.wrapper {
  @include container-with-bleed;
  display: flex;
  flex-flow: column nowrap;
  margin-bottom: rem(20);
}

.publishDate {
  font-family: $sans;
  font-size: rem(14);
  font-weight: 400;
  margin-bottom: rem(20);
  white-space: nowrap;
}

.title {
  color: $black;
  display: block;
  font-family: $sans;
  font-size: rem(34);
  font-weight: 600;
  font-weight: 700;
  line-height: 1.12;
  margin-bottom: rem(20);
}

.deck {
  color: $black;
  font-family: $sans;
  font-size: rem(22);
  font-weight: 400;
  line-height: 1.36;
  margin-bottom: rem(50);
}

.intro {
  border-bottom: 1px solid black;
  margin: 0 auto;
  tidy-span: 10;

  @media ($mdMin) {
    order: 1;
    tidy-offset-left: 1;
    tidy-span: 6;
  }

  @media ($lgMin) {
    tidy-offset-left: 1;
    tidy-span: 6;
  }
}

.meta {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  width: 100%;
}

.image {
  @include container-with-bleed;
  display: flex;
  flex-direction: column;
  margin: 0 auto rem(20);
  overflow: hidden;
  width: 100%;
  /* tidy-span: 10; */

  figure {
    width: 100%;
  }

  @media ($mdMin) {
    order: 0;
  }
}
