.wrapper {
  width: 100%;
}

.intro {
  composes: intro from './contentHeader.css';
  margin-left: 0;

  /* Increase specificity for override. */
  &.intro {
    border-bottom: 0;
    width: 100%;

    @media ($mdMin) {
      margin-left: 0;
      width: 100%;
    }

    @media ($lgMin) {
      margin-left: 0;
      width: 100%;
    }
  }
}
