.wrapper {
  display: flex;
  flex-flow: column nowrap;
  width: 100%;

  @media ($smMin) {
    @include container-with-bleed;
  }
}

.publishDate {
  font-family: $sans;
  font-size: rem(14);
  font-weight: 400;
  margin-bottom: rem(10);
  white-space: nowrap;

  @media ($mdMin) {
    font-size: rem(16);
    margin-bottom: rem(15);
  }
}

.title {
  color: $black;
  display: block;
  font-family: $sans;
  font-size: rem(34);
  font-weight: 600;
  line-height: rem(40);
  margin-bottom: rem(10);

  @media ($mdMin) {
    font-size: rem(54);
    line-height: rem(50);
    margin-bottom: rem(20);
  }
}

.deck {
  color: $black;
  font-family: $sans;
  font-size: rem(20);
  font-weight: 400;
  line-height: rem(24);
  margin-bottom: rem(30);

  @media ($mdMin) {
    font-size: rem(22);
    line-height: 1.36;
    margin-bottom: rem(50);
  }
}

.headerBlock {
  @include container-with-bleed;
  margin: 0 auto;
  width: 100%;

  @media ($smMin) {
    padding-left: 0;
    padding-right: 0;
    width: 100%;
  }

  @media ($mdMin) {
    /* @see main from ../columnArea--fullStory.css  */
    padding-left: 0;
    padding-right: rem(20);
    tidy-offset-left: 1;
    tidy-span: 6;
  }
}

.intro {
  composes: headerBlock;
  margin-bottom: rem(20);

  @media ($mdMax) {
    margin-bottom: rem(20);
  }

  @media ($mdMin) {
    order: 2;
  }
}

.meta {
  align-items: baseline;
  border-bottom: 1px solid black;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  width: 100%;
}

.image {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  overflow: hidden;
  width: 100%;

  figure {
    width: 100%;

    @media ($mdMax) {
      span {
        margin: 0 rem(10) 0 rem(20);
      }
    }
  }

  @media ($mdMax) {
    span {
      margin: 0 rem(10) 0 rem(20);
    }
  }

  @media ($mdMin) {
    margin-bottom: rem(30);
    order: 0;
  }
}

.sponsoredModule {
  composes: headerBlock;
  margin-bottom: rem(20);
  margin-top: rem(20);

  @media ($mdMin) {
    margin-bottom: rem(40);
    margin-top: rem(40);
    order: 3;
  }
}
