.wrapper {
  display: flex;
  flex-flow: column nowrap;
  margin-bottom: rem(20);
  width: 100%;

  @media ($smMin) {
    @include container-with-bleed;
  }
}

.publishDate {
  font-family: $sans;
  font-size: rem(14);
  font-weight: 400;
  margin-bottom: rem(20);
  white-space: nowrap;
}

.title {
  color: $black;
  display: block;
  font-family: $sans;
  font-size: rem(54);
  font-weight: 600;
  line-height: 1.07;
  margin-bottom: rem(20);
}

.deck {
  color: $black;
  font-family: $sans;
  font-size: rem(22);
  font-weight: 400;
  line-height: 1.36;
  margin-bottom: rem(50);
}

.headerBlock {
  @include container-with-bleed;
  margin: 0 auto;
  width: 100%;

  @media ($smMin) {
    padding-left: 0;
    padding-right: 0;
    tidy-span: 10;
  }

  @media ($mdMin) {
    order: 1;
    tidy-offset-left: 1;
    tidy-span: 6;
  }

  @media ($lgMin) {
    tidy-offset-left: 1;
    tidy-span: 6;
  }
}

.intro {
  composes: headerBlock;
  border-bottom: 1px solid black;
}

.meta {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  width: 100%;
}

.image {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  overflow: hidden;
  width: 100%;

  figure {
    width: 100%;
  }

  @media ($mdMin) {
    order: 0;
  }
}

.sponsoredModule {
  composes: headerBlock;
  margin-bottom: rem(20);
  margin-top: rem(20);

  @media ($mdMin) {
    margin-bottom: rem(40);
    margin-top: rem(40);
  }
}
