/* stylelint-disable selector-max-specificity */
:global(#nprogress) {
  pointer-events: none;
}

:global(.nprogress-custom-parent) {
  border-bottom: 0;
  overflow: hidden;
  position: relative;
}

:global(.nprogress-custom-parent .bar) {
  background: var(--topic-color);
  bottom: 0;
  height: 3px;
  left: 0;
  position: absolute;
  width: 100%;
  z-index: 1031;
}

:global(.nprogress-custom-parent .barContainer) {
  background-color: $border-gray;
  bottom: 0;
  height: 2px;
  left: 0;
  position: absolute;
  width: 100%;
}
/* stylelint-enable */
