/* stylelint-disable selector-max-specificity */
:global(#nprogress) {
  pointer-events: none;
}

:global(#nprogress .bar) {
  background: var(--topic-color);
  height: 2px;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1031;
}

:global(.nprogress-custom-parent) {
  overflow: hidden;
  position: relative;
}

:global(.nprogress-custom-parent #nprogress .bar) {
  bottom: 0;
  position: absolute;
  top: auto;
}
/* stylelint-enable */
