@lost flexbox flex;

.wrapper {
  lost-column: 1/1;
  margin-bottom: 2rem;

  pre {
    font-family: monospace;
  }
}

.heading2 {
  composes: heading2 from '../../assets/styles/typography.css';
}

.heading3 {
  composes: heading3 from '../../assets/styles/typography.css';
}

.heading4 {
  composes: heading4 from '../../assets/styles/typography.css';
}

.heading5 {
  composes: heading5 from '../../assets/styles/typography.css';
}

.children {
  margin-left: 32px;
}
