@lost flexbox flex;

.wrapper {
  lost-column: 1/1;
  margin-bottom: 32px;

  pre {
    font-family: var(--monospace);
  }
}

.heading {
  composes: primaryheading from '../../assets/styles/typography.css';
}
