.wrapper {
  margin-bottom: rem(50);

  @media ($mdMax) {
    padding: rem(0 20);
  }
}

.image {
  background-color: $color-deck;
  margin-bottom: rem(40);
  padding: rem(50 0);

  img {
    margin: 0 auto;
    max-width: rem(300);
  }
}

.title {
  color: $color-heading;
  font-size: rem(30);

  @media ($mdMin) {
    font-size: rem(40);
  }
}

.description {
  font-size: rem(40);

  @media ($mdMin) {
    font-size: rem(50);
  }
}
