/**
 * Import default fonts.
 */

/**
 * MillerDisplay
 */
@font-face {
  font-family: "MillerDisplay";
  font-style: normal;
  font-weight: 400;
  src: url("https://cdn.technologyreview.com/_/fonts/font-bureau-millerdisplay-roman.woff") format("woff"), url("https://cdn.technologyreview.com/_/fonts/font-bureau-millerdisplay-roman.ttf") format("truetype");
}

@font-face {
  font-family: "MillerDisplay";
  font-style: italic;
  font-weight: 400;
  src: url("https://cdn.technologyreview.com/_/fonts/font-bureau-millerdisplay-italic.woff") format("woff"), url("https://cdn.technologyreview.com/_/fonts/font-bureau-millerdisplay-italic.ttf") format("truetype");
}

@font-face {
  font-family: "MillerDisplay";
  font-style: italic;
  font-weight: 100;
  src: url("https://cdn.technologyreview.com/_/fonts/font-bureau-millerdisplay-lightitalic.woff") format("woff"), url("https://cdn.technologyreview.com/_/fonts/font-bureau-millerdisplay-lightitalic.ttf") format("truetype");
}

@font-face {
  font-family: "MillerDisplay";
  font-style: normal;
  font-weight: 100;
  src: url("https://cdn.technologyreview.com/_/fonts/font-bureau-millerdisplay-light.woff") format("woff"), url("https://cdn.technologyreview.com/_/fonts/font-bureau-millerdisplay-light.ttf") format("truetype");
}

@font-face {
  font-family: "MillerDisplay";
  font-style: normal;
  font-weight: 700;
  src: url("https://cdn.technologyreview.com/_/fonts/font-bureau-millerdisplay-bold.woff") format("woff"), url("https://cdn.technologyreview.com/_/fonts/font-bureau-millerdisplay-bold.ttf") format("truetype");
}

@font-face {
  font-family: "MillerDisplay";
  font-style: normal;
  font-weight: 600;
  src: url("https://cdn.technologyreview.com/_/fonts/font-bureau-millerdisplay-semibold.woff") format("woff"), url("https://cdn.technologyreview.com/_/fonts/font-bureau-millerdisplay-semibold.ttf") format("truetype");
}

@font-face {
  font-family: "MillerDisplay";
  font-style: italic;
  font-weight: 600;
  src: url("https://cdn.technologyreview.com/_/fonts/font-bureau-millerdisplay-semibolditalic.woff") format("woff"), url("https://cdn.technologyreview.com/_/fonts/font-bureau-millerdisplay-semibolditalic.ttf") format("truetype");
}

/**
 * Miller Text
 */
@font-face {
  font-family: "MillerText";
  font-style: normal;
  font-weight: 400;
  src: url("https://cdn.technologyreview.com/_/fonts/font-bureau-millertext-roman.woff") format("woff"), url("https://cdn.technologyreview.com/_/fonts/font-bureau-millertext-roman.ttf") format("truetype");
}

@font-face {
  font-family: "MillerText";
  font-style: italic;
  font-weight: 400;
  src: url("https://cdn.technologyreview.com/_/fonts/font-bureau-millertext-italic.woff") format("woff"), url("https://cdn.technologyreview.com/_/fonts/font-bureau-millertext-italic.ttf") format("truetype");
}

@font-face {
  font-family: "MillerText";
  font-style: normal;
  font-weight: 600;
  src: url("https://cdn.technologyreview.com/_/fonts/font-bureau-millertext-bold.woff") format("woff"), url("https://cdn.technologyreview.com/_/fonts/font-bureau-millertext-bold.ttf") format("truetype");
}

@font-face {
  font-family: "MillerText";
  font-style: italic;
  font-weight: 600;
  src: url("https://cdn.technologyreview.com/_/fonts/font-bureau-millertext-bolditalic.woff") format("woff"), url("https://cdn.technologyreview.com/_/fonts/font-bureau-millertext-bolditalic.ttf") format("truetype");
}

/**
 * Neuehas
 */
@font-face {
  font-family: "NeueHaas";
  font-style: normal;
  font-weight: 100;
  src: url("https://cdn.technologyreview.com/_/fonts/nhaasgroteskdsstd-15ultth.woff") format("woff"), url("https://cdn.technologyreview.com/_/fonts/nhaasgroteskdsstd-15ultth.ttf") format("truetype");
}

@font-face {
  font-family: "NeueHaas";
  font-style: normal;
  font-weight: 200;
  src: url("https://cdn.technologyreview.com/_/fonts/nhaasgroteskdsstd-25th.woff") format("woff"), url("https://cdn.technologyreview.com/_/fonts/nhaasgroteskdsstd-25th.ttf") format("truetype");
}

@font-face {
  font-family: "NeueHaas";
  font-style: normal;
  font-weight: 300;
  src: url("https://cdn.technologyreview.com/_/fonts/nhaasgroteskdsstd-35xlt.woff") format("woff"), url("https://cdn.technologyreview.com/_/fonts/nhaasgroteskdsstd-35xlt.ttf") format("truetype");
}

@font-face {
  font-family: "NeueHaas";
  font-style: normal;
  font-weight: 400;
  src: url("https://cdn.technologyreview.com/_/fonts/nhaasgroteskdsstd-55rg.woff") format("woff"), url("https://cdn.technologyreview.com/_/fonts/nhaasgroteskdsstd-55rg.ttf") format("truetype");
}

@font-face {
  font-family: "NeueHaas";
  font-style: normal;
  font-weight: 600;
  src: url("https://cdn.technologyreview.com/_/fonts/nhaasgroteskdsstd-65md.woff") format("woff"), url("https://cdn.technologyreview.com/_/fonts/nhaasgroteskdsstd-65md.ttf") format("truetype");
}

@font-face {
  font-family: "NeueHaas";
  font-style: normal;
  font-weight: 700;
  src: url("https://cdn.technologyreview.com/_/fonts/nhaasgroteskdsstd-75bd.woff") format("woff"), url("https://cdn.technologyreview.com/_/fonts/nhaasgroteskdsstd-75bd.ttf") format("truetype");
}

@font-face {
  font-family: "NeueHaas";
  font-style: normal;
  font-weight: 900;
  src: url("https://cdn.technologyreview.com/_/fonts/nhaasgroteskdsstd-95blk.woff") format("woff"), url("https://cdn.technologyreview.com/_/fonts/nhaasgroteskdsstd-95blk.ttf") format("truetype");
}
