/* TermArchiveContentList component styles */

.wrapper {
  width: 100%;
}

.hidden {
  display: none;
}

.button {
  border: $border-thin;
  color: $black;
  font-family: $sans;
  font-size: rem(20);
  font-weight: 600;
  line-height: 1;
  padding: rem(22) rem(18) rem(18);
  text-align: center;
  width: 100%;

  &:hover {
    background-color: $black;
    color: $white;
  }
}
