.parent {
  align-items: center;
  color: $white;
  display: flex;
  flex-flow: row nowrap;
  font-family: $sans;
  font-weight: 900;
  justify-content: space-between;
  overflow: hidden;
  padding-bottom: rem(12);
  text-align: left;
  width: 100%;
}

.isChildless {
  flex-flow: row wrap;

  @media ($smMin) {
    flex-flow: row nowrap;
  }
}
