/* MenuItem component styles */

.wrapper {
  align-content: center;
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;

  &.footer {
    @media ($mdMin) {
      margin-right: tidy-var(gap);
      tidy-span: 2;
    }

    /* stylelint-disable-next-line selector-max-specificity */
    &:nth-of-type(5) {
      @media ($mdMin) {
        margin-right: 0;
      }
    }
  }
}

.isChildless {
  border-bottom: $border-thin--gray;
  flex-flow: row nowrap;

  &::before {
    @media ($mdMax) {
      content: '-';
      margin-right: 1ch;
      padding: rem(10) 0 rem(10) rem(3);
      text-decoration: none;
    }
  }
}

.parent {
  align-items: center;
  border-bottom: $border-thin--white;
  color: $white;
  display: flex;
  flex-flow: row nowrap;
  font-family: $sans;
  font-weight: 700;
  justify-content: space-between;
  overflow: hidden;
  padding: rem(12) 0 rem(12) rem(3);
  text-align: left;
  width: 100%;

  &::after {
    position: static;
  }

  @media ($mdMax) {
    @include after-image;
  }
}

.isExpanded {
  &::after {
    transform: rotate(45deg);
  }
}

.link {
  display: block;
  font-family: $sans;
  font-size: rem(16);
  line-height: 1.231;
  padding: rem(10) 0 rem(10) rem(3);

  &:hover {
    text-decoration: underline;
  }
}
