.wrapper {
  &.hasChildren {
    margin-bottom: rem(20);

    @media ($lgMin) {
      margin-bottom: 0;
    }
  }

  h3 {
    font-size: rem(20);
    font-weight: 900;
    margin-bottom: rem(10);
  }
}

.link {
  display: block;
  font-size: rem(20);
  padding-bottom: rem(5);

  &:hover {
    text-decoration: underline;
  }
}

.parent {
  color: #fff;
  font-family: $sans;
  font-size: rem(20);
  font-weight: 900;
  margin-bottom: rem(10);

  @media ($mdMin) {
    margin-bottom: rem(20);
  }
}
