.wrapper {
  align-items: center;
  border: 4px solid #000000;
  border-radius: 50%;
  display: flex;
  height: 40px;
  justify-content: center;
  width: 40px;
}

.wrapper:hover,
.wrapper:focus {
  border-color: #666666;
  outline: none;
}

.wrapper:hover svg,
.wrapper:focus svg {
  fill: #666666;
}

.icon svg {
  fill: #000000;
}

.play svg {
  height: 18px;
  margin: 2px 0 0 4px;
  width: 12px;
}

.pause svg {
  height: 18px;
  margin-top: 1px;
  width: 14px;
}

.spinner svg {
  height: 18px;
  width: 18px;
}

@media ($lgMin) {
  .wrapper {
    border: 5px solid #000000;
    height: 56px;
    width: 56px;
  }

  .icon svg {
    height: 26px;
    width: 26px;
  }

  .play svg {
    height: 26px;
    margin: 2px 0 0 6px;
    width: 18px;
  }

  .pause svg {
    height: 26px;
    margin-top: 2px;
    width: 20px;
  }

  .spinner svg {
    height: 26px;
    width: 26px;
  }
}
