@import 'mixins/index';

.wrapper {
  @include button-reset;
  align-items: center;
  border: 4px solid $black;
  border-radius: 50%;
  display: flex;
  height: rem(40);
  justify-content: center;
  width: rem(40);

  &:hover,
  &:focus {
    border-color: $gray;
    outline: none;

    svg {
      fill: $gray;
    }
  }

  @media ($lgMin) {
    border: 5px solid $black;
    height: rem(56);
    width: rem(56);
  }
}

.icon {

  svg {
    fill: $black;

    @media ($lgMin) {
      height: rem(26);
      width: rem(26);
    }
  }
}

.play {

  svg {
    height: rem(18);
    margin: rem(2) 0 0 rem(4);
    width: rem(12);

    @media ($lgMin) {
      height: rem(26);
      margin: rem(2) 0 0 rem(6);
      width: rem(18);
    }
  }
}

.pause {

  svg {
    height: rem(18);
    margin-top: rem(1);
    width: rem(14);

    @media ($lgMin) {
      height: rem(26);
      margin-top: rem(2);
      width: rem(20);
    }
  }
}

.spinner {

  svg {
    height: rem(18);
    width: rem(18);

    @media ($lgMin) {
      height: rem(26);
      width: rem(26);
    }
  }
}

.text {
  @include screenreader-only;
}