.wrapper {
  font-family: $sans;
  width: rem(300);
}

.title {
  font-size: rem(20);
  font-weight: 600;
  letter-spacing: rem(1);
  line-height: 1.142857;
  margin: rem(5) 0 rem(15) 0;
}

.stories {
  list-style: none;
  margin: 0;
  padding: 0;
}

.story {
  border-bottom: 1px solid #000000;
  font-size: rem(16);
  line-height: 1.375;
  padding: rem(15) 0 rem(15) 0;
}

.byline {
  font-size: rem(14);
  line-height: 1.714285;

  a {
    text-decoration: underline;
  }
}

.itemCount {
  color: #f90e1e;
  font-size: rem(12);
  font-weight: 700;
  padding: 0 0 rem(5) 0;
}
