.wrapper {
  font-family: $sans;
}

.contentModule {
  width: 100%;

  @media ($mdMax) {
    margin: 0 auto;
  }
}

.title {
  font-size: rem(20);
  font-weight: 600;
  letter-spacing: rem(1);
  line-height: 1.142857;
  margin: rem(5) 0 rem(15) 0;
}

.itemTitle {
  display: block;
}

.stories {
  counter-reset: popular-counter;
  margin: 0;
  padding: 0;
}

.story {
  border-bottom: 1px solid $black;
  counter-increment: popular-counter;
  font-size: rem(16);
  line-height: 1.375;
  list-style: none;
  padding: rem(15) 0 rem(15) 0;

  &::before {
    color: $red;
    content: '0' counter(popular-counter) '.';
    font-size: rem(12);
    font-weight: 700;
    padding: 0 0 rem(5) 0;
  }
}

.byline {
  font-size: rem(14);
  line-height: 1.714285;

  a {
    text-decoration: underline;
  }
}

.itemCount {
  color: $red;
  font-size: rem(12);
  font-weight: 700;
  padding: 0 0 rem(5) 0;
}

.adUnit {
  align-items: center;
  background-color: $background-gray;
  border: $border-thin--gray;
  color: $gray;
  display: flex;
  font-family: $sans;
  height: rem(250);
  justify-content: center;
  margin-bottom: rem(40);
  margin-left: auto;
  margin-right: auto;
  width: 100%;

  @media ($smMax) {
    tidy-span: 12;
  }

  @media ($mdMax) {
    margin-top: rem(40);
    max-width: rem(300);
  }
}

.itemTitle {
  &:hover {
    text-decoration: underline;
  }
}
