.wrapper {
  display: flex;
  justify-content: center;
  margin-bottom: rem(40);
  margin-left: auto;
  margin-right: auto;

  &[loaded="false"] {
    align-items: center;
    background-color: $background-gray;
    border: $border-thin--gray;
    color: $gray;
    font-family: $sans;
    height: rem(250);
    width: 100%;

    @media ($smMax) {
      tidy-span: 12;
    }

    @media ($mdMax) {
      margin-top: rem(40);
      max-width: rem(300);
    }
  }
}
