.accountWrap {
  margin: rem(40) auto rem(50);
  max-width: rem(758);
  padding: 0 rem(15);
}

.accountHeader {
  @include accountHeader;
}

.accountSubHeader {
  @include accountSubHeader;
}

.accountHeaderDescription {
  @include accountHeaderDescription;
  margin-bottom: rem(25);
}

.formWrap {
  @include zephrForm;
}

.formError {
  color: $red;
  display: block;
  margin-bottom: rem(10);
}

.formCheckbox {
  border: 0;
  clip: rect(0 0 0 0);
  clippath: inset(50%);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.styledCheckbox {
  background-clip: content-box;
  background-color: white;
  border: 1px solid black;
  border-radius: 50%;
  display: inline-block;
  height: 16px;
  margin-right: 8px;
  padding: 2px;
  width: 16px;

  &.checked {
    background-color: black;
  }
}

.checkboxWrapper {
  align-items: center;
  display: flex;
}

.captchaWrapper {
  margin-bottom: rem(20);
}

.termsText {
  display: inline-block;
  font-size: rem(16);
  height: 17px;
}

.confirmationText {
  color: #000;
  display: inline;
  font-size: rem(24);
  font-weight: 400;
}

.createBtn {
  @include btn;
  @include blackBtn;
  max-width: rem(228);
}

.homeButton {
  @include btn;
  @include blackBtn;

  font-family: $sans;
}
