.wrapper {
  align-items: center;
  display: flex;
  flex-flow: row nowrap;
  margin-bottom: rem(15);
}

.list {
  align-items: center;
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  tidy-span: 5;

  @media ($lgMin) {
    tidy-span: 5;
  }
}

.title {
  @include label;
  tidy-span: 1;

  @media ($lgMin) {
    tidy-span: 1;
  }
}
