.wrapper {
  align-items: center;
  display: flex;
  flex-flow: row nowrap;
}

.list {
  align-items: center;
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  tidy-span: 5;

  @media ($lgMin) {
    tidy-span: 5;
  }
}

.title {
  @include label;
  margin-right: rem(18);
  tidy-span: 0.4;
}
