/* MeterNotice component styles */

:global {
  .MeterNotice__wrapper {
    position: relative;
    width: 100%;
  }

  .MeterNotice__innerWrapper {
    [aria-expanded="true"] & {
      @include container;

      /* cannot use composes as this markup not served through Irving.  */
      /* @see components/columnArea/columnArea--fullStory.css */
      @media ($mdMin) {
        max-width: calc(tidy-span-full(6) - rem(20));
        tidy-offset-left: 1;
        width: calc(tidy-span(6) - rem(20));
      }
    }

    [aria-expanded="false"] & {
      align-items: center;
      display: flex;

      @media ($mdMin) {
        flex: 100%;
        margin-right: auto;
        tidy-offset-left: 1;
      }
    }
  }

  .MeterNotice__smallText {
    color: $white;
    font-family: $sans;
    font-size: rem(20);
    font-weight: 600;
    line-height: 1;
    margin-bottom: rem(30);

    [aria-expanded="false"] & {
      font-size: rem(16);
      margin-bottom: 0;
    }
  }

  .MeterNotice__count {
    color: $call-to-action;
  }

  .MeterNotice__count {
    width: auto;
  }

  .MeterNotice__largeText {
    color: $white;
    display: block;
    font-family: $sans;
    font-size: rem(26);
    font-weight: 500;
    line-height: 1.07;
    margin-bottom: rem(20);

    [aria-expanded="false"] & {
      display: none;
    }
  }

  .MeterNotice__callsToAction {
    align-items: center;
    display: flex;

    @media ($mdMin) {
      flex-flow: row nowrap;
    }

    [aria-expanded="false"] & {
      flex-direction: row-reverse;
      margin-left: auto;
    }
  }

  .MeterNotice__item {
    color: $call-to-action;
    font-size: rem(16);
    font-weight: 500;
    line-height: 1;

    &:not(:last-child) {
      margin-right: rem(20);

      /* stylelint-disable-next-line selector-max-specificity */
      [aria-expanded="false"] & {
        margin-right: 0;
      }
    }

    &:not(:first-child) {
      /* stylelint-disable-next-line selector-max-specificity */
      [aria-expanded="false"] & {
        margin-right: rem(20);
      }
    }

    [aria-expanded="false"] & {
      font-size: rem(14);
    }
  }

  .MeterNotice__callToAction--button {
    background-color: $call-to-action;
    color: $black;
    display: block;
    font-size: rem(14);
    font-weight: 600;
    padding: rem(10) rem(28);
    text-decoration: none;

    &:hover {
      background-color: $black;
      color: $call-to-action;
    }

    [aria-expanded="false"] & {
      font-size: rem(14);
    }
  }

  .MeterNotice__callToAction--link {
    text-decoration: underline;
  }

  .MeterNotice__item {
    width: auto;
  }

  .MeterNotice__leadIn {
    display: none;

    [aria-expanded="true"] & {
      display: inline;
    }
  }
}
