/**
 * This stylesheet is enqueued directly in the WordPress admin to style the
 * editor experience.
 */

/**
 *  Blocks defined in other components.
 *  These paths must be relative to the currnt directory.
 */
@import '../../components/related/related.css';

/* Inline blocks */
.editor-writing-flow {
  [data-type="core/freeform"] {
    /* stylelint-disable-next-line selector-max-specificity */
    .mce-content-body {
      @include basic-editor-styles;
    }
  }

  [data-type="core/paragraph"] {
    @include block-paragraph;
  }

  [data-type="core/list"] {
    @include block-list;
  }

  [data-type="core/quote"] {
    @include block-quote;
  }

  [data-type="core/pullquote"] {
    @include block-pullquote;
  }

  [data-type="core/heading"] {
    @include block-heading;
  }

  [data-type="core/image"] {
    @include block-image;
  }

  [data-type="core/gallery"] {
    @include block-gallery;
    max-width: none;
    width: 100%;
  }

  [data-type="core/cover-image"] {
    @include body-content-type-styles;
    max-width: none;
    width: 100%;
  }

  [data-type="core/separator"] {
    @include block-separator;
  }

  [data-type="core/button"] {
    @include block-button;
  }

  [data-type="core/columns"] {
    /* stylelint-disable selector-max-specificity */
    :global(.wp-block-columns) > :global(.editor-inner-blocks) > :global(.editor-block-list__layout) {
      display: flex;
      flex-flow: row wrap;
      justify-content: space-between;

      [data-type="core/column"] {
        flex: 1 1 auto;
        max-width: calc(50% - rem(64));
        min-width: 25%;
      }
    }
    /* stylelint-enable */
  }

  [data-type="core/YouTube"] {
    @include block-embed;
  }

  [data-type="core/preformatted"] {
    @include block-preformatted;
  }

  [data-type="core/code"] {
    @include block-code;

    textarea {
      background-color: transparent;
    }
  }
}

/* Edtitor styles */
.mce-content-body {
  @include basic-editor-styles;
}
