/**
 * This stylesheet is enqueued directly in the WordPress admin to style the
 * editor experience.
 */

/**
 *  Blocks defined in other components.
 *  These paths must be relative to the currnt directory.
 */
@import 'react-image-gallery/styles/css/image-gallery.css';
@import '../../components/carousel/carousel.css';
@import '../../components/contactForm/contactForm.css';
@import '../../components/contentList/contentList.css';
@import '../../components/contentList/contentList.css';
@import '../../components/imageSet/imageSet.css';
@import '../../components/newsletter/newsletter.css';
@import '../../components/related/related.css';
@import '../../components/statsWidget/statsWidget.css';
@import '../../components/magazineStory/magazineStory.css';
@import '../../components/postList/postList.css';

/* Changing width of editor to increase readability when using 3 columns
  https://developer.wordpress.org/block-editor/developers/themes/theme-support/#changing-the-width-of-the-editor
*/
.wp-block {
  max-width: 80%;
}

/* Inline blocks */
.editor-writing-flow,
.editor-styles-wrapper {
  [data-type="core/freeform"] {
    /* stylelint-disable-next-line selector-max-specificity */
    .mce-content-body {
      @include basic-editor-styles;
    }
  }

  [data-type="core/paragraph"] {
    @include block-paragraph;
  }

  [data-type="core/list"] {
    @include block-list;
  }

  [data-type="core/quote"] {
    @include block-quote;
  }

  /* stylelint-disable selector-max-specificity */
  [data-type="core/pullquote"],
  [data-type="core/pullquote"][data-align=right],
  [data-type="core/pullquote"][data-align=left] {
    @include block-pullquote;
  }
  /* stylelint-enable selector-max-specificity */

  [data-type="core/heading"] {
    @include block-heading;
  }

  [data-type="core/image"] {
    @include block-image;
  }

  [data-type="core/gallery"] {
    @include block-gallery;
    max-width: none;
    width: 100%;
  }

  [data-type="core/cover-image"] {
    @include body-content-type-styles;
    max-width: none;
    width: 100%;
  }

  [data-type="core/separator"] {
    @include block-separator;
  }

  [data-type="core/button"] {
    @include block-button;
  }

  [data-type="core/columns"] {
    /* stylelint-disable selector-max-specificity */
    :global(.wp-block-columns) > :global(.editor-inner-blocks) > :global(.editor-block-list__layout) {
      display: flex;
      flex-flow: row nowrap; /* Changing this to nowrap for bigger screen sizes. */
      justify-content: space-between;

      [data-type="core/column"] {
        flex: 1 1 auto;
        max-width: calc(50% - rem(64));
        min-width: 25%;
      }
    }

    @include block-featured-company;
    /* stylelint-enable */
  }

  [data-type="core/YouTube"] {
    @include block-embed;
  }

  [data-type="core/preformatted"] {
    @include block-preformatted;
  }

  [data-type="core/code"] {
    @include block-code;

    textarea {
      background-color: transparent;
    }
  }
}

/* Edtitor styles */
.mce-content-body {
  @include basic-editor-styles;
}

.compat-field-vertical_orientation .field {
  width: 50%;
}
