/* MegaMenu component styles */

.wrapper {
  height: 90vh;
  overflow-y: scroll;
  padding: rem(64) rem(5) rem(20) rem(30);
  width: 100%;
}

.row {
  display: flex;
  flex-flow: row wrap;
}

.topRow {
  /* @include container-with-bleed; */
  /* composes: row; */
  display: flex;
  flex-flow: row wrap;
  width: 100%;

  @media ($smMin) {
    flex-wrap: nowrap;
  }
}

.searchBar {
  width: 100%;

  @media ($smMin) {
    margin-right: tidy-var(gap);
    tidy-span: 6;
  }

  @media ($lgMin) {
    tidy-span: 8;
  }
}

.userGreeting {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-end;
  width: 100%;

  @media ($smMin) {
    tidy-span: 4;
  }

  @media ($lgMin) {
    tidy-span: 4;
  }
}

.middleRow {
  composes: row;
  margin-top: rem(40);
  width: 100%;
}

.lastRow {
  composes: row;
  border-top: 1px solid #646464;
  flex-flow: wrap;
  margin-top: rem(40);
  padding-top: rem(30);
  width: 100%;

  @media ($lgMin) {
    flex-flow: nowrap;
  }
}

.copyright {
  font-size: rem(12);
  font-weight: 600;
  line-height: 1;
  margin-top: rem(30);
}

.symbol {
  margin-left: rem(35);
}
