/* ListHeader component styles */

.wrapper {
  background-color: $color-deck;
  width: 100%;
}

.container {
  @include container-with-bleed;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  padding-bottom: rem(10);

  @media ($mdMin) {
    padding-bottom: rem(75);
  }
}

.title {
  color: $white;
  flex: 0 1 40%;
  font-family: $sans;
  font-size: rem(40);
  font-weight: 700;
  line-height: 1;
  order: 2;
  padding-left: rem(30);
  width: 100%;

  @media ($mdMin) {
    font-size: rem(83);
  }
}

.year {
  display: block;
  font-weight: 400;
}

.description {
  color: $white;
  display: flex;
  flex-flow: row nowrap;
  margin-bottom: rem(20);
  order: 2;
  padding-left: rem(30);
  width: 100%;

  @media ($mdMin) {
    flex: 0 1 rem(492);
    justify-content: center;
    margin-bottom: 0;
    padding-right: rem(30);
  }

  && {
    /* stylelint-disable selector-max-specificity */
    /* Need extra specificity to override style in listDescription.css */
    p {
      @media ($mdMin) {
        font-size: rem(24);
        line-height: 1.5;
      }
    }
  }
  /* stylelint-enable */
}

.menus {
  border-bottom: $border-thin;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  margin-bottom: rem(75);
  order: 0;
  width: 100%;
}

.menu {
  width: auto;
}

.socialSharing {
  align-items: center;
  display: flex;
  flex-flow: row nowrap;
  width: auto;
}
