.container {
  background-color: $black;
  color: $white;
  display: block;
  justify-self: flex-end;
  margin: rem(45) auto 0;
  width: 100%;
}

.wrapper {
  @include container-with-bleed;
  margin: 0 auto;
  padding-bottom: rem(50);
  padding-top: rem(60);
}

.header {
  display: flex;
  flex-flow: column nowrap;
  margin-bottom: rem(50);

  @media ($smMin) {
    flex-flow: row nowrap;
  }
}

.icon {
  background-image: url(https://cdn.technologyreview.com/_/img/tr-glyph-v2--white.svg);
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: contain;
  display: none;
  height: rem(34);

  @media ($mdMin) {
    display: block;
    margin-right: tidy-var(gap);
    order: 0;
    tidy-span: 2;
  }
}

.intro {
  display: flex;
  flex-flow: column nowrap;
  order: 1;
  tidy-span: 8;

  @media ($smMin) {
    margin-right: tidy-var(gap);
    tidy-span: 6;
  }

  @media ($mdMin) {
    tidy-span: 6;
  }
}

.title {
  margin-bottom: rem(5);

  svg {
    display: block;
    height: rem(29);
    width: rem(308);
  }
}

.titleText {
  @include screenreader-only;
}

.missionStatement {
  font-family: $sans;
  font-size: rem(16);
  line-height: 1.35;
  margin-bottom: 0;
}

.copyright {
  font-family: $sans;
  font-size: rem(14);

  @media ($mdMin) {
    tidy-offset-left: 2;
    tidy-span: 10;
  }
}

.menu {
  margin-bottom: rem(30);
  width: 100%;

  @media ($smMin) {
    tidy-offset-left: 0;
  }

  @media ($mdMin) {
    tidy-offset-left: 2;
    tidy-span: 10;
  }
}
