.container {
  background-color: $black;
  color: $white;
  display: block;
  justify-self: flex-end;
  margin: rem(45) auto 0;
  width: 100%;
}

.wrapper {
  @include container-with-bleed;
  margin: 0 auto;
  padding-bottom: 0;
  padding-top: rem(30);

  @media ($smMin) {
    padding-top: rem(50);
  }
}

.header {
  display: flex;
  flex-flow: column nowrap;
  margin-bottom: rem(30);

  @media ($smMin) {
    flex-flow: row nowrap;
    margin-bottom: rem(50);
  }
}

.icon {
  background-image: url(https://cdn.technologyreview.com/_/img/tr-glyph-v2--white.svg);
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: contain;
  display: none;
  height: rem(34);

  @media ($mdMin) {
    display: block;
    margin-right: tidy-var(gap);
    order: 0;
    tidy-span: 2;
  }
}

.intro {
  display: flex;
  flex-flow: column nowrap;
  order: 1;
  tidy-span: 8;

  @media ($smMin) {
    margin-right: tidy-var(gap);
    tidy-span: 6;
  }

  @media ($mdMin) {
    tidy-span: 6;
  }
}

.title {
  /* @todo determined if OK to link to CDN? */
  background-image: url('https://cdn.technologyreview.com/_/img/horizontal-logo-v2--white.svg');
  background-repeat: no-repeat;
  background-size: contain;
  height: rem(36);
  margin-bottom: rem(20);
  max-width: 100%;
  overflow: hidden;
  text-indent: -9999px;
  width: rem(376);
}

.missionStatement {
  font-family: $sans;
  font-size: rem(16);
  line-height: 1.35;
  margin-bottom: rem(20);
}

.editionsLink {
  @include after-image;
  border: $border-thin--white;
  display: flex;
  flex-flow: column nowrap;
  font-family: $sans;
  font-size: rem(18);
  font-weight: 700;
  justify-content: flex-end;
  line-height: 1.25;
  margin-bottom: rem(20);
  order: 3;
  padding: rem(8) rem(32) rem(11) rem(8);
  position: relative;
  transition: $linkTransition;
  width: 100%;

  @media ($smMin) {
    tidy-offset-left: 2;
    tidy-span: 2;
  }

  @media ($mdMin) {
    tidy-offset-left: 2;
    tidy-span: 2;
  }

  &:hover {
    background-color: $white;
    color: $black;
    outline: none;

    &::after {
      background-image: url(https://cdn.technologyreview.com/_/img/plus.svg);
    }
  }

  > span {
    display: block;
  }
}

.copyright {
  font-family: $sans;
  font-size: rem(14);
  padding-bottom: rem(20);

  @media ($mdMin) {
    tidy-offset-left: 2;
    tidy-span: 10;
  }
}

.menu {
  margin-bottom: rem(30);
  width: 100%;

  @media ($smMin) {
    tidy-offset-left: 0;
  }

  @media ($mdMin) {
    tidy-offset-left: 2;
    tidy-span: 10;
  }
}
