/* TeaserItem simple styles */

.excerpt {
  font-family: $sans;
  font-size: rem(16);
  font-weight: 400;

  @media ($smMin) {
    font-size: rem(24);
  }
}

.image {
  order: 1;
  overflow: hidden;
  tidy-span: 4;
}

.meta {
  order: 0;
  padding: 0 rem(20);
  tidy-span: 8;
}

.title {
  font-family: $sans;
  font-size: rem(26);
  font-weight: 700;

  @media ($smMin) {
    font-size: rem(37);
  }
}

.wrapper {
  @include container;
  border-bottom: $border-thin;
  display: flex;
  flex-flow: row wrap;
  padding: rem(40) 0;

  &.last {
    border-bottom: 0;
    margin-bottom: rem(40);
  }
}
