/* TeaserItem simple styles */

/* e.g. top 10 list styles */

.wrapper {
  width: auto;
}

.meta {
  width: auto;
}

.title {
  width: auto;
}

.excerpt {
  width: auto;
}

.image {
  width: auto;
}
