
/* Teaser Item component styles */

.wrapper {
  background-color: $white;
  border-top: rem(2) solid $sponsored-gray;
  display: flex;
  flex-flow: row wrap;
  margin-bottom: rem(10);
  padding: rem(20 20 25 20);
  position: relative;

  @media ($smMin) {
    margin-bottom: rem(15);
  }

  &.featuredGroup {
    margin-bottom: 0;
    padding: rem(15) 0;
  }
}

.header {
  max-width: rem(575);
}

.meta {
  display: flex;
  flex-flow: row wrap;
  font-size: rem(14);
  width: 100%;

  @media ($mdMin) {
    font-size: rem(16);
  }
}

.text {
  display: flex;
  flex-flow: row wrap;
  width: 100%;
}

.eyebrow {
  line-height: 1.19;
  margin-bottom: rem(5);
  order: 0;
}

.eyebrowText {
  color: $color-deck;
  font-weight: 600;
  margin-right: rem(5);
}

.title {
  font-size: rem(26);
  font-weight: 600;
  line-height: 1.07;
  order: 1;
  width: 100%;

  &.groupTitle {
    font-size: rem(22);
  }

  @media ($smMin) {
    font-size: rem(30);
    margin-bottom: 0;
  }
}

.excerpt {
  color: $color-text;
  font-size: rem(16);
  line-height: 1.375;
  margin: rem(15) 0 rem(15) 0;
  width: 100%;

  @media ($smMin) {
    font-size: rem(18);
    line-height: 1.44;
  }
}

.callToAction {
  color: $color-text;
  display: block;
  font-size: rem(18);
  font-weight: 600;
  margin-bottom: rem(20);
  margin-top: rem(20);
}

.image {
  margin-top: rem(6);
  overflow: hidden;
  width: 100%;
}
