.sponsoredFlag {
  background-color: $brown-gray;
  color: $white;
  font-size: rem(12);
  font-weight: 700;
  margin-bottom: rem(10);
  padding: rem(4) rem(15);
  text-transform: uppercase;
}

.sponsor {
  align-items: center;
  display: flex;
  width: 100%;
}

.sponsorLogo {
  margin-right: 1rem;
}

.sponsorContent {
  color: $color-text;
  font-size: rem(18);

  span {
    display: inline;
    margin-right: rem(5);
  }
}
