.wrap {
  background: $white;
  border-top: solid rem(2) $brown-gray;
  margin-bottom: rem(20);
  padding: rem(20) rem(20) rem(5);
  position: relative;
}

.meta {
  display: flex;
  font-size: rem(14);
  margin-bottom: rem(5);

  @media ($mdMin) {
    font-size: rem(16);
  }
}

.title {
  font-size: rem(26);
  font-weight: 600;
  line-height: 1.07;
  margin-bottom: rem(15);
  max-width: rem(575);
  order: 1;

  @media ($smMin) {
    font-size: rem(30);
  }
}

.excerpt {
  p {
    color: $color-text;
    font-family: $sans;
    font-size: rem(18);
    font-weight: 400;
    letter-spacing: normal;
    line-height: 1.44;
    margin-bottom: rem(18);

    a {
      font-weight: 400;
      text-decoration: underline;
    }
  }
}
