.listItem {
  clear: left;
  display: block;
  float: left;
  font-family: "NeueHaas", sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 1;
  padding-right: 15px;
  width: 50%;
}

.link {
  display: block;
  overflow: hidden;
  padding: 10px 0 10px 0;
  position: relative;
  text-overflow: ellipsis;
  white-space: nowrap;
}
