.listItem {
  display: block;
  font-family: $sans;
  font-size: rem(20);
  font-weight: 400;
  line-height: 1;
  width: 100%;
}

.link {
  display: block;
  padding-bottom: rem(12);

  &:hover {
    text-decoration: underline;
  }
}
