/* Column Area styles */
.wrapper {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  padding-bottom: rem(15);
  padding-top: rem(15);
  width: 100%;

  @media ($smMin) {
    @include container-with-bleed;
  }
}

.main {
  overflow: hidden;
  width: 100%;

  @media ($mdMin) {
    @include container-with-bleed(6);
    padding-left: 0;
    padding-right: 0;
    tidy-offset-left: 1;
  }
}

.sidebar {
  /* FPO styles */
  padding: 1rem;
  width: 100%;

  @media ($mdMin) {
    tidy-span: 4;
  }
}

.container {
  margin: 50px 0 50px calc((79.5rem - 1.25rem * 2) / 12);
  width: 100%;
}
