/**
 * Page theme column layout (e.g. non-story pages).
 *
 * At desktop:
 * - 1-col offset
 * - 7-col main columnn with no margin, no padding
 * - 2-col gap
 * - 3-col sidebar with 20px left margin, no right margin.
 */

.wrapper {
  composes: wrapper from './columnArea--feed.css';
}

.column {
  composes: column from './columnArea--feed.css';
}

.main {
  composes: main from './columnArea--feed.css';
}

.sidebar {
  composes: sidebar from './columnArea--feed.css';
}

.container {
  composes: container from './columnArea--feed.css';
}
