/* Column Area styles */
.wrapper {
  @include container-with-bleed;
}

.main {
  @media ($lgMin) {
    @include container-with-bleed(7);
    margin-left: -tidy-var(edge);
    margin-right: 0;
    padding-left: 0;
    padding-right: 0;
  }
}
