/* One Column theme styles */
.wrapper {
  @include container-with-bleed;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  padding-bottom: rem(15);
}

.main {
  margin-bottom: rem(60);
  margin-top: 0;
  width: 100%;

  @media ($mdMin) {
    tidy-offset-left: 3;
    tidy-span: 7;
  }
}
