/**
 * Feed theme column layout.
 *
 * At desktop:
 * - 1-col offset
 * - 6-col main columnn with 20px overflow on both sides
 * - 1-col gap
 * - 4-col sidebar with no overlap or margin
 *
 * Examples
 * - Author page: https://zpl.io/29jBgRp
 * - Topic page: https://zpl.io/VYpeMxp
 */

.wrapper {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  padding-bottom: rem(15);
  padding-top: rem(15);
  width: 100%;

  @media ($smMin) {
    @include container;
  }
}

.main {
  composes: main from './columnArea--full.css';
  margin-bottom: rem(40);
  width: 100%;

  @media ($mdMin) {
    box-sizing: content-box;
    margin-bottom: 0;
    tidy-offset-left: 1;
    transform: translateX(rem(-20));
    width: calc(tidy-span(6) + rem(40));
  }
}

.column {
  composes: column from './columnArea--full.css';
}

.sidebar {
  composes: sidebar from './columnArea--full.css';
  width: 100%;

  @media ($mdMin) {
    tidy-span: 4;
  }

  @media ($lgMin) {
    tidy-offset-left: 1;
    tidy-span: 3;
  }
}
