.wrapper {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  padding-bottom: rem(15);
  padding-top: rem(40);
  width: 100%;

  @include container;
}

.sidebar {
  order: 1;
  width: 100%;

  @media ($mdMin) {
    tidy-span: 2;
  }

  @media ($lgMin) {
    display: block;
    margin-right: calc(tidy-span-full(1) - rem(40));  /* Account for main container bleed. */
    tidy-span: 2;
  }
}

.main {
  @include container;
  margin-bottom: rem(50);
  order: 2;

  @media ($mdMin) {
    margin-bottom: 0;
    transform: translateX(rem(-20));
    width: calc(tidy-span-full(7) + 2.5rem);
  }

  @media ($lgMin) {
    width: calc(tidy-span-full(9) + 2.5rem);
  }
}
