/* One Column theme styles */
.column {
  @media ($mdMin) {
    @include container-with-bleed;
    padding-left: 0;
    padding-right: 0;
    tidy-offset-left: 1;
    /* Fix bleed from being entirely applied to right side */
  }
}

.content,
.contentWrapper {
  width: 100%;
}
