/* Styles for core cover image block */
@mixin blockCoverImage {

  .wp-block-cover-image {
    align-items: center;
    background-position: center center;
    display: flex;
    justify-content: center;
    position: relative;
    width: 100%;
  }

  .wp-block-cover-image-text {
    @include bodyHeading;
  }
}
