.wrapper {
  composes: wrapper from './socialItem.css';
}

.icon {
  composes: icon from './lightIcon.css';

  svg {
    fill: $black;
    height: rem(18);
    width: auto;
  }

  .whatsapp & {
    position: relative;

    svg {
      fill: $black;
      height: rem(25);
    }
  }
}
