.wrapper {
  display: flex;
  flex-flow: row nowrap;
  width: auto;

  &:not(first-child) {
    margin-right: rem(10);

    @media ($mdMin) {
      margin-right: rem(20);
    }
  }
}

.anchor {
  align-items: center;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
}

.icon {
  align-items: center;
  background-color: none;
  border-radius: 50%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;

  svg {
    fill: $white;
    height: rem(18);
    width: auto;
  }

  .whatsapp & {

    svg {
      height: rem(25);
    }
  }
}

.screenReaderLabel {
  @include screenreader-only;
}

.label {
  @include label;
}
