.wrapper {
  display: flex;
  flex-flow: row nowrap;
  width: auto;

  &:not(last-child) {
    margin-left: rem(10);
    
    @media ($mdMin) {
      margin-left: rem(20);
    }
  }
}

.anchor {
  align-items: center;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
}

.icon {
  align-items: center;
  background-color: none;
  border-radius: 50%;
  display: flex;
  flex-flow: row nowrap;
  height: rem(22);
  justify-content: center;
  width: rem(22);

  svg {
    fill: $white;
    height: rem(22);
    width: auto;
  }
}

.screenReaderLabel {
  @include screenreader-only;
}

.label {
  @include label;
}
