.wrapper {
  display: flex;
  flex-flow: row nowrap;
  margin-bottom: rem(15);
  margin-right: rem(15);
  width: auto;

  &:last-child {
    margin-right: 0;
  }

  @media ($smMin) {
    margin-bottom: 0;
  }

  @media ($smMax) {
    &.linkedin,
    &.whatsapp,
    &.email {
      display: none;
    }
  }
}

.icon {
  align-items: center;
  background-color: $gray;
  border-radius: 50%;
  display: flex;
  flex-flow: row nowrap;
  height: rem(30);
  justify-content: center;
  width: rem(30);

  .facebook & {
    background-color: $brand-facebook;

    svg {
      height: rem(15);
    }
  }

  .twitter & {
    background-color: $brand-twitter;

    svg {
      height: rem(14);
    }
  }

  .reddit & {
    background-color: $brand-reddit;
  }

  .linkedin & {
    background-color: $brand-linkedin;

    svg {
      height: rem(14);
    }
  }

  .whatsapp & {
    background-color: $brand-whatsapp;
    position: relative;

    svg {
      height: rem(15);
    }

    &::after {
      border-bottom: 5px solid transparent;
      border-right: 14px solid $brand-whatsapp;
      border-top: 5px solid transparent;
      content: "";
      height: 0;
      position: absolute;
      right: 71%;
      top: rem(20);
      transform: rotate(-45deg);
      width: 0;
    }
  }

  .email & {
    background-color: $brand-email;
  }

  .link & {
    background-color: transparent;
  }

  svg {
    fill: $white;
    height: rem(18);
    width: auto;
  }
}
