.wrapper {
  display: block;

  svg {
    fill: $black;
    height: rem(22);
    width: rem(22);
  }
}

.link {
  align-items: center;
  display: flex;
  height: rem(40);
  justify-content: center;
  width: rem(40);
}
