.wrapper {
  display: flex;
  flex-flow: row nowrap;
  margin-right: rem(15);
  width: auto;

  &:last-child {
    margin-right: 0;
  }
}

.anchor {
  align-items: center;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
}

.icon {
  align-items: center;
  background-color: $gray;
  border-radius: 50%;
  display: flex;
  flex-flow: row nowrap;
  height: rem(30);
  justify-content: center;
  width: rem(30);

  .facebook & {
    background-color: $brand-facebook;

    svg {
      height: rem(15);
    }
  }

  .twitter & {
    background-color: $brand-twitter;

    svg {
      height: rem(14);
    }
  }

  .reddit & {
    background-color: $brand-reddit;
  }

  .linkedin & {
    background-color: $brand-linkedin;

    svg {
      height: rem(14);
    }
  }

  .whatsapp & {
    background-color: transparent;
    height: rem(36);
    position: relative;
    width: rem(36);

    svg {
      fill: $brand-whatsapp;
      height: rem(36);
    }
  }

  .email & {
    background-color: $brand-email;
  }

  .link & {
    background-color: transparent;
  }

  svg {
    fill: $white;
    height: rem(18);
    width: auto;
  }
}

.screenReaderLabel {
  @include screenreader-only;
}

.label {
  @include label;
}

.link {
  @media ($lgMin) {
    margin-left: rem(50);
  }
}
