.inputWrapper {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
}

.label {
  margin-bottom: 5px;
}

.inputElement {
  border-radius: 0;
  box-sizing: border-box;
  font-family: sans-serif;
  font-size: 16px;
  height: 42px;
  padding: 5px 10px;
  width: 100%;
}

.inputElement::placeholder {
  color: rgb(215, 215, 217);
}

.textarea .inputElement {
  height: 100px;
  padding: 10px;
}

.input .inputElement,
.textarea .inputElement,
.select .inputElement {
  border: 2px solid #000000;
}

.input.error .inputElement,
.textarea.error .inputElement,
.select.error .inputElement {
  border-color: red;
}

.validationMessge {
  color: red;
  font-family: sans-serif;
  font-size: 12px;
  margin-top: 5px;
  text-transform: uppercase;
}

.select {
  box-shadow: none;
  position: relative;
}

.select .inputElement {
  display: block;
  width: 100%;
}

.checkbox,
.radio {
  align-items: center;
  flex-direction: row;
  justify-content: flex-start;
}

.checkbox .label,
.radio .label {
  margin: 0;
  order: 1;
}

.checkbox .inputElement,
.radio .inputElement {
  margin: 0 10px 0 0;
  width: auto;
}
