/* ContentFooter component styles */

.wrapper {
  font-size: rem(12);
  margin: rem(30) auto 0;
  width: 100%;

  &::before {
    border-top: $border-thin--gray-light;
    content: '';
    display: block;
    margin: 0 auto rem(20);
    width: 100%;
  }

  a {
    font-size: rem(12);
  }
}

.title {
  @include screenreader-only;
}

.label {
  @include label;
  tidy-span: 0.5;

  @media ($mdMax) {
    tidy-span: 0.65;
  }

  @media ($smMax) {
    tidy-span: 1.5;
  }
}

.row {
  display: flex;
  flex-flow: row nowrap;
  font-size: rem(14);
  margin-bottom: rem(15);
  margin-left: auto;
  margin-right: auto;
}

.social {
  composes: row;
}

.tags {
  composes: row;
  font-size: rem(12);
}

.author {
  composes: row;
  align-items: center;

  a {
    align-items: center;
    display: flex;
    text-decoration: underline;

    span {
      margin-bottom: 0;
    }

    img {
      align-self: baseline;
    }
  }
}

.avatar {
  border-radius: 50%;
  display: block;
  float: left;
  height: rem(35);
  margin-right: rem(5);
  width: rem(35);

  img {
    border-radius: 50%;
    height: 100%;
    width: 100%;
  }
}

.authorLink {
  margin-right: rem(15);
}

.imageCredit {
  align-items: center;
  display: flex;
}

.item {
  font-size: rem(14);
}
