/* ContentFooter component styles */

.wrapper {
  @include container-with-bleed;
  font-size: rem(12);
  margin: 0 auto;
  /* padding-top: rem(20); */

  > * {
    margin: 0 auto;
    tidy-span: 10;

    @media ($mdMin) {
      tidy-offset-left: 1;
      tidy-span: 6;
    }

    @media ($lgMin) {
      tidy-offset-left: 1;
      tidy-span: 6;
    }
  }

  &::before {
    border-top: $border-thin--gray-light;
    content: '';
    display: block;
    margin: 0 auto rem(20);
    tidy-span: 10;

    @media ($mdMin) {
      tidy-offset-left: 1;
      tidy-span: 6;
    }

    @media ($lgMin) {
      tidy-offset-left: 1;
      tidy-span: 6;
    }
  }

  a {
    font-size: rem(12);
  }
}

.title {
  @include screenreader-only;
}

.label {
  @include label;
  tidy-span: 1;

  @media ($mdMin) {
    tidy-span: 1;
  }
}

.row {
  display: flex;
  flex-flow: row nowrap;
  font-size: rem(14);
  margin-bottom: rem(15);
  margin-left: auto;
  margin-right: auto;
  tidy-span: 10;

  @media ($mdMin) {
    tidy-offset-left: 1;
    tidy-span: 6;
  }

  @media ($lgMin) {
    tidy-offset-left: 1;
    tidy-span: 6;
  }
}

.social {
  composes: row;
}

.tags {
  composes: row;
  font-size: rem(12);
}

.author {
  align-items: center;
  composes: row;

  a {
    display: flex;
    align-items:  center;
    text-decoration: underline;

    img {
      align-self: baseline;
    }
  }
}

.avatar {
  display: block;
  float: left;
  height: rem(35);
  margin-right: rem(5);
  width: rem(35);

  img {
    height: 100%;
    width: 100%;
  }
}

.authorLink {
  margin-right: rem(15);
}
