.wrapper {
  width: 100%;
}

.social {
  margin-bottom: rem(15);
  width: 100%;
}

.tags {
  width: 100%;
}

.author {
  display: flex;
  flex-flow: row nowrap;
  font-size: rem(14);
  width: 100%;
}

.avatar {
  height: rem(32);
  width: rem(32);
}
