/* stylelint-disable selector-max-specificity */
/* Yes, there is a lot of ugly deep nested styles in here, but it's out of neccessity
    in order to over ride GB default styles in editing mode.
*/
:global {
  .imageSet__wrap {
    margin-bottom: rem(20);

    @media ($mdMin) {
      margin-left: -20%;
      width: 130%;
    }

    .wp-block-columns {
      @media ($smMin) {
        flex-flow: row nowrap;
      }

      .wp-block-column {
        margin-bottom: 0;
        margin-right: rem(10);

        @media ($smMin) {
          flex: 1;
        }
      }

      .wp-block-image {
        margin-bottom: rem(10);
      }
    }

    .wp-block-column:nth-of-type(3n) {
      align-self: flex-end;
      margin-right: 0;
    }

    .imageSet__caption {
      font-size: rem(14);
      font-weight: 400;
      margin-bottom: rem(5);
    }

    .has-text-align-center {
      text-align: center;
    }
  }

  .editor-writing-flow .imageSet__innerBlockContainer [data-type="core/column"]:nth-of-type(3n) {
    align-self: flex-end;
    flex: 1;
  }

  .editor-writing-flow .imageSet__innerBlockContainer [data-type="core/columns"] .wp-block-columns > .editor-inner-blocks > .editor-block-list__layout {
    flex-flow: row nowrap;
  }

  .imageSet__innerBlockContainer {
    .wp-block-columns {
      flex-wrap: nowrap;
    }

    .imageSet__captionCol {
      align-self: flex-end;
    }

    .wp-block[data-type="core/columns"] {
      max-width: 1170px;
    }
  }

  .editor-writing-flow [data-type="core/paragraph"] p.imageSet__caption {
    font-size: rem(14);
    font-weight: 400;
  }

  video {
    width: 100%;
  }
}
/* stylelint-enable selector-max-specificity */
