.appear {
  opacity: 0;
  transform: translateY(-25px);
  visibility: hidden;
}

.enter,
.exitDone {
  opacity: 0;
  transform: translateY(-25px);
  visibility: hidden;
}

.enterActive {
  opacity: 1;
  transform: translateY(0);
  transition: transform 300ms ease-in-out, opacity 300ms ease-in-out;
  visibility: visible;
}

.enterDone,
.exit {
  opacity: 1;
  transform: translateY(0);
  visibility: visible;
}

.exitActive {
  opacity: 0;
  transform: translateY(-25px);
  transition: transform 300ms ease-in-out, opacity 300ms ease-in-out;
  visibility: visible;
}
