/* PostList component styles */

.wrapper {
  display: flex;
  flex-flow: column nowrap;
  width: 100%;

  @media ($mdMin) {
    margin-bottom: 0;
  }
}

:global {
  /* stylelint-disable selector-max-specificity */
  .postList__wrapper {
    a.postList__title {
      color: $black;
      font-weight: 400;
      padding-right: rem(5);
    }

    ul.postList__list {
      font-size: rem(14);
      line-height: rem(18);
      margin: 0;
      padding: 0;

      @media ($smMin) {
        font-size: rem(16);
        line-height: rem(22);
      }
    }

    li.postList__listItem {
      line-height: rem(18);
      list-style: none;
      margin: 0 0 rem(10) 0;
      padding: 0;

      @media ($smMin) {
        line-height: rem(22);
      }

      .postList__title {
        font-weight: 500;
      }

      p {
        font-size: rem(14);
        margin: 0;

        @media ($smMin) {
          font-size: rem(16);
        }
      }
    }

    a.view-more-link,
    .view-more-link {
      font-family: $sans;
      font-size: rem(14);
      font-weight: 500;
      line-height: rem(14);
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }
      /* This is for the GB Editor View */
      a {
        color: $black;
        font-size: rem(14);
        font-weight: 500;
        line-height: rem(14);
        text-decoration: none;

        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
  /* stylelint-enable selector-max-specificity */

  .editor-rich-text .section-header {
    color: #000;
    font-family: $sans;
    font-size: rem(24);
    font-weight: 600;
    margin: 0 0 rem(10) 0;
  }
}
