/* InFeedItem component styles */

.wrapper {
  background-color: $white;
  border-top: solid rem(2) $brown-gray;
  margin-bottom: rem(15);
  padding: rem(20);
  width: auto;
}

.content {
  width: 100%;
}

.eyebrow {
  font-family: $sans;
  font-size: rem(16);
  font-weight: 600;
  line-height: 1.19;
  margin-right: 1ch;
  text-decoration: none;
}

.eyebrowLink {
  font-family: $sans;
  font-size: rem(16);
  font-weight: 600;
  line-height: 1.19;
  text-decoration: none;
}

.header {
  display: flex;
  flex-flow: column nowrap;
  width: auto;
}

.image {
  margin-bottom: rem(20);
  width: auto;
}

.meta {
  display: flex;
  flex-flow: row nowrap;
  margin-bottom: rem(5);
  order: 0;
  width: auto;
}

.title {
  color: $black;
  font-family: $sans;
  font-size: rem(30);
  font-weight: 600;
  letter-spacing: normal;
  line-height: 1.07;
  margin-bottom: rem(20);
  margin-right: rem(20);
  order: 1;
}

.expandableBody {
  width: 100%;
}

.mainCopyWrap {
  height: 0;
  overflow: hidden;
  transition: height 250ms ease-in-out 0s;

  &.isExpanded {
    height: auto;
  }
}

.expandBtnWrap {
  align-items: center;
  display: flex;
  justify-content: center;
  margin: rem(15) auto 0;
  width: 100%;
}

.expandBtn {
  @include btn;
  @include btnWhite;
  font-size: rem(14);
  padding: rem(10) rem(20);
}
