/* ListDescription component styles */

--highlight-color: $color-deck;
--letter-background-color: $white;

.wrapper {
  width: 100%;

  p {
    font-family: $sans;
    font-size: rem(16);
    font-weight: 500;
    line-height: 1.5em;
    margin-bottom: 1.5em;

    @media ($mdMin) {
      font-size: rem(21);
    }

    /* stylelint-disable-next-line selector-max-specificity */
    &:first-of-type::first-letter {
      background-color: var(--letter-background-color);
      color: var(--highlight-color);
      float: left;
      font-family: $sans;
      font-size: rem(28);
      font-weight: 600;
      line-height: 1;
      margin: rem(5) rem(20) 0 0;
      padding: rem(25) rem(30);
      text-align: center;
    }
  }
}
