.video {
  display: block;
  height: auto;
  max-height: 100%;
  width: 100%;
}

.caption {
  font-family: $sans;
  font-size: rem(12);
  letter-spacing: rem(1);
  margin-top: rem(10);
  text-transform: uppercase;
}

.figure {
  margin-bottom: rem(30);
}
