/* ListMenuItems component styles */

.wrapper {
  background-color: transparent;
  position: static;
}

.list {
  background-color: $black;
  left: 0;
  padding: rem(20);
  position: absolute;
  width: 100%;
  z-index: 2;

  @media ($smMin) {
    left: auto;
    width: rem(350);
  }
}

.desktopOnly {
  display: none;

  @media ($mdMin) {
    display: block;
  }
}

.title {
  @include list-label;
  @include relative-plus;

  :global(.light) & {
    @include relative-plus('//cdn.technologyreview.com/_/img/plus--white.svg');
    color: $white;
  }
}

.titleActive {
  @include relative-plus('//cdn.technologyreview.com/_/img/plus--white.svg');
  background-color: $black;
  color: $white;

  &::after {
    transform: rotate(45deg);
  }
}
