/* ListMenu component styles */

.wrapper {
  @include container;
  display: flex;
  flex-flow: row nowrap;
  padding: rem(8) 0;
  width: auto;

  @media ($mdMin) {
    padding: rem(20) 0;
  }
}

.fullBleed {
  @include container-with-bleed;
  padding-left: rem(103);
}

.top10 {
  border-bottom: $border-thin;
  border-top: $border-thin;
  margin-bottom: 0;
  padding-left: 0;
}

.withBorder {
  border-bottom: $border-thin;
  padding-left: 0;
}

.title {
  @include list-label;
  display: none;
  padding-left: 0;

  @media ($mdMin) {
    display: block;
  }
}

.list {
  display: flex;
  flex-flow: row nowrap;
}
