/* ListMenu component styles */

.wrapper {
  display: flex;
  flex-flow: row nowrap;
  padding: rem(20) 0;
  width: auto;
}

.title {
  @include list-label;
  display: none;

  @media ($mdMin) {
    display: block;
  }

  &.title--light {
    color: $white;
  }
}

.list {
  display: flex;
  flex-flow: row nowrap;
}
