/* ListHeader component styles */

.wrapper {
  background-color: $color-deck;
  width: 100%;
}

.container {
  @include container-with-bleed;
  display: flex;
  flex-flow: row wrap;
  padding: rem(60) 0;

  @media ($mdMin) {
    padding-bottom: rem(75);
  }
}

.heroContent {
  padding: 0 0 0 rem(50);
}

.meta {
  display: flex;
  flex-flow: column nowrap;
  order: 2;
  width: 100%;

  @media ($mdMin) {
    padding-right: rem(22);
    tidy-offset-right: 1;
    tidy-span: 5;
  }
}

.title {
  color: $white;
  font-family: $sans;
  font-size: rem(28);
  font-weight: 700;
  line-height: 1.231;
  margin-top: rem(30);
  width: 100%;
}

.inlineTitle {
  display: block;
  font-size: rem(60);
  font-weight: 700;
  margin: rem(30) 0;
}

.description {
  color: $white;
  font-size: rem(28);
  order: 2;
  padding-right: rem(25);
  width: 100%;
}

.image {
  color: $white;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  margin-bottom: rem(20);
  order: 1;
  width: 100%;

  @media ($mdMin) {
    margin-bottom: 0;
    tidy-span: 6;
  }

  > * {
    width: 100%;
  }

  span {
    padding: 0 rem(30);
  }

  img {
    width: 100%;
  }

  figcaption {
    color: $white;
    display: block;
    font-family: $sans;
    font-size: rem(11);
    font-weight: 500;
    letter-spacing: 1px;
    margin-bottom: rem(20);
    text-transform: uppercase;

    @media ($mdMin) {
      margin-bottom: 0;
    }
  }
}
