/* Card stacks with horizontal images */

.bodyCopy {
  padding: rem(20) rem(20) 0;

  @media ($smMin) {
    padding-top: rem(50);
  }
}

.image {
  width: 100%;
}

.withoutSlider {
  margin-bottom: rem(11);
}
