/* CardStack component styles */

.wrapper {
  background-color: $color-deck;
  margin-bottom: rem(15);
  overflow: hidden;
  padding: 0;
  position: relative;
}

.meta {
  display: flex;
  flex-flow: row wrap;
  margin-bottom: rem(5);
  margin-top: rem(20);
  width: 100%;
}

.body {
  display: flex;
  flex-flow: row wrap;
  margin-bottom: rem(10);
  width: 100%;

  > * {
    order: 1;
  }
}

.bodyCopy {
  padding: rem(20) rem(20) 0;

  @media ($smMin) {
    padding-top: rem(50);
    width: 50%;
  }
}

.image {
  display: flex;
  flex-flow: row nowrap;
  overflow: hidden;
  width: 100%;

  @media ($smMin) {
    padding: rem(50) rem(20) 0;
    width: 50%;
  }

  span,
  figure,
  a {
    display: block;
    width: 100%;
  }
}

.name {
  color: $white;
  font-family: $sans;
  font-size: rem(40);
  letter-spacing: normal;
  line-height: 1;
  margin-bottom: rem(15);
}

.description {
  color: $white;
  font-family: $sans;
  font-size: rem(18);
  letter-spacing: normal;
  line-height: 1.44;
  margin-bottom: rem(20);

  @media ($smMax) {
    font-size: rem(20);
    line-height: 1.3;
    margin-bottom: rem(20);
  }
}

.counter {
  color: $white;
  display: block;
  font-family: $sans;
  font-size: rem(14);
  line-height: 1;
  margin-bottom: rem(10);
}

.sponsored {
  align-items: center;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  order: 0;
  padding: rem(20 20 0);
  width: 100%;
}

.sponsorLabel {
  background-color: $white;
  color: $color-deck;
  font-family: $sans;
  font-size: rem(12);
  letter-spacing: rem(1);
  line-height: 1.58;
  padding: rem(4) rem(15) rem(2);
  text-transform: uppercase;
}

.sponsorLink {
  display: block;
  height: rem(32);
  width: auto;

  & span {
    display: block;
    height: rem(18);
    margin-top: rem(7);
  }

  img {
    height: 100%;
    width: auto;
  }
}
