@mixin block-alignment {

  &:global(.alignleft),
  &:global(.alignright) {
    display: inline-block;
    flex: 0 0 auto;

    @media ($lgMin) {
      max-width: 50%;
    }
  }

  &:global(.alignleft) {
    clear: left;
    float: left;
    margin: rem(10) rem(40) rem(30) 0;
    min-width: rem(200);
    tidy-span: 2;

    @media ($mdMin) {
      margin-left: -16%;
    }
  }

  &:global(.alignright) {
    clear: right;
    float: right;
    margin: 0 0 rem(36) rem(36);
    min-width: rem(200);
    tidy-span: 2;
  }

  &:global(.aligncenter),
  &:not(:global(.alignright)):not(:global(.alignleft)) {
    clear: both;
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
  }
}
