@mixin block-alignment {

  &:global(.alignleft),
  &:global(.alignright) {
    display: inline-block;
    flex: 0 0 auto;

    @media ($lgMin) {
      max-width: 50%;
    }
  }

  &:global(.alignleft) {
    clear: left;
    float: left;
    margin: rem(10) rem(40) rem(30) 0;
    min-width: rem(200);
    tidy-span: 2;

    @media ($mdMin) {
      margin-left: -16%;
    }
  }

  &:global(.alignright) {
    clear: right;
    float: right;
    margin: 0 0 rem(36) rem(36);
    min-width: rem(200);
    tidy-span: 2;
  }

  &:global(.aligncenter),
  &:not(:global(.alignright)):not(:global(.alignleft)) {
    clear: both;
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
  }

  &:not(:global(.alignright)):not(:global(.alignleft)) {
    max-width: rem(200);
  }

  &:global(.entry-content .alignwide) {
    margin-left: rem(-80);
    margin-right: rem(-80);
  }

  &:global(.entry-content .alignfull) {
    margin-left: calc( -100vw / 2 + 100% / 2 );
    margin-right: calc( -100vw / 2 + 100% / 2 );
    max-width: 100vw;
  }

  &:global(.wp-block[data-align=full]) {
    max-width: 80%;
  }

  &:global(.alignfull img) {
    width: 100vw;
  }

  &:global(.wp-block[data-align=wide] img) {
    width: 100%;
  }
}
