@mixin block-button {
  :global(.wp-block-button) {
    @include block-level-element;
    @include block-alignment;

    /* stylelint-disable selector-max-specificity */
    &:not(:global(.alignright)):not(:global(.alignleft)) {
      max-width: rem(300);
    }

    .aligncenter {
      display: flex;
    }

    a {
      @include basic-formatting;
      align-items: center;
      border: 1px solid $black;
      color: $black;
      display: flex;
      font-family: $sans;
      font-size: rem(15);
      font-weight: 400;
      height: rem(42);
      justify-content: center;
      margin: 0 auto;
      padding: rem(9) rem(12);
      text-decoration: none;
      transition: background-color 125ms ease-in-out;
    }
  }

  :global(.wp-block-button.white-btn) {
    a {
      background-color: $white;
      border: 1px solid $black;
      color: $black;
      font-size: rem(16);
      font-weight: 600;
      letter-spacing: inherit;
      text-transform: none;

      &:hover {
        background: #000;
        color: #fff;
      }

      &::before,
      &::after {
        content: "";
      }
    }
  }/* stylelint-enable selector-max-specificity */
}
