@mixin block-columns {

  :global(.wp-block-columns) {
    display: flex;
    flex-flow: row wrap;

    @media ($mdMin) {
      flex-flow: row nowrap;
      justify-content: space-between;

      &:global(.no-margin) {
        /* stylelint-disable selector-max-specificity */
        :global(.wp-block-column) {
          margin: 0;
        }
        /* stylelint-enable selector-max-specificity */
      }
    }
  }

  :global(.wp-block-column) {
    flex: 1 1 auto;
    margin: 0 0 rem(20);
    max-width: 100%;
    min-width: 25%;
    position: relative;
    width: 100%;

    &:global(.no-margin) {
      margin: 0;
    }

    @media ($mdMin) {
      max-width: 48%;

      &:global(.span-9) {
        tidy-span: 9;
      }

      &:global(.span-8) {
        tidy-span: 8;
      }

      &:global(.span-4) {
        tidy-span: 4;
      }

      &:global(.span-3) {
        tidy-span: 3;
      }

      &:global(.no-margin) {
        margin: 0;
      }
    }
  }

  :global(.about-columns) {
    flex-flow: row wrap;

    @media ($lgMin) {
      flex-flow: row nowrap;
    }
    /* stylelint-disable selector-max-specificity */
    :global(.wp-block-column) {
      flex: 0 1 100%;
      padding-right: rem(50);

      &:last-child {
        padding-right: 0;
      }

      @media ($mdMin) {
        flex: 0 1 50%;
      }

      @media ($lgMin) {
        flex: 1;
      }
    }
    /* stylelint-enable selector-max-specificity */
  }
  /* stylelint-disable-next-line selector-max-specificity */
  :global(.editor-writing-flow [data-type="core/columns"] .wp-block-columns>.editor-inner-blocks>.editor-block-list__layout) {
    flex-flow: row nowrap;
  }

  @include block-featured-company;
}
