/* In-body heading styles */
@mixin block-heading {
  big,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @include block-level-element;
    color: $gray;
    font-family: $sans;
    font-weight: 700;
    line-height: 1.2;

    a {
      color: inherit;
      text-decoration: none;
      transition: $linkTransition;

      &:hover {
        color: $brand-blue;
      }
    }

    /* The following class names must be entered into the Adavnced Additional CSS Class Names
    * for these styles to take affect.
    */
    &:global(.page-subheader) {
      color: #000;
      font-family: $sans;
      font-size: rem(40);
      font-weight: 600;
      line-height: rem(40);

      @media ($smMin) {
        font-size: rem(50);
        line-height: rem(50);
      }
    }

    &:global(.section-header) {
      color: #000;
      font-family: $sans;
      font-size: rem(24);
      font-weight: 600;
      line-height: rem(26);
    }

    &:global(.about-header) {
      margin-bottom: rem(5);
      margin-top: 0;
    }
  }

  h1 {
    font-size: rem(30);
    font-weight: $header-weight;

    @media ($mdMin) {
      font-size: rem(40);
    }
  }

  h2 {
    font-size: rem(28);
    font-weight: $header-weight;

    @media ($mdMin) {
      font-size: rem(36);
    }
  }

  h3 {
    color: #000;
    font-size: rem(18);
    font-weight: $header-weight;
    line-height: rem(24);

    @media ($mdMin) {
      font-size: rem(22);
      line-height: rem(28);
    }
  }

  h4 {
    color: #000;
    font-size: rem(16);
    font-weight: $header-weight;
    line-height: rem(24);

    @media ($mdMin) {
      font-size: rem(18);
      line-height: rem(28);
    }
  }

  h5 {
    font-size: rem(18);
    font-weight: $header-weight;
  }

  h6 {
    font-size: 1rem;
    font-weight: $header-weight;
  }

  :global(.page-header) {
    font-size: rem(40);
  }
}
