/* Styles for core image block */
@mixin figcaption {
  @include body-link;
  display: block;
  font-family: $sans;
  font-size: rem(14);
  line-height: calc(18/14);
  padding: 0 0 rem(10);
  width: 100%;
}

@mixin image-credit {
  color: $gray;
  display: block;
  font-family: $sans;
  font-size: rem(12);
  line-height: 1;
  padding: rem(3 5 10);
  text-align: right;
}

@mixin block-image {
  img {
    display: block;
    height: auto;
    margin-bottom: rem(10);
    max-width: 100%;
  }

  /* No alignment set: <figure class="wp-block-image"> element only */
  :global(figure.wp-block-image) {
    display: block;
    margin-bottom: rem(20);
    max-width: 100%;

    @media ($smMin) {
      margin-bottom: rem(30);
    }

    :global(.image-credit) {
      @include image-credit;

      + figcaption { /* stylelint-disable-line selector-max-specificity */
        padding-top: rem(5);
      }
    }

    figcaption {
      @include figcaption;
    }

    figcaption:empty { /* stylelint-disable-line selector-max-specificity */
      display: none;
    }
  }

  /* Alignment set: <div class="wp-block-image"> wrapper around <figure class="align{left|right}"> */
  :global(div.wp-block-image) {
    figure {
      display: table;
      margin: 0 rem(36) rem(36) 0;
    }

    @media ($smMin) {
      :global(.alignleft),
      :global(.alignright) {
        max-width: 50%;
      }

      :global(.alignleft) {
        float: left;
        margin: rem(30) calc(8.33%) rem(20) -13.33%;
      }

      :global(.alignright) {
        float: right;
        margin: rem(30) -13.33% rem(20) calc(8.33%);
      }
    }

    :global(.aligncenter) {
      align-items: center;
      clear: both;
      display: flex;
      flex-direction: column;
      justify-content: center;

      figcaption { /* stylelint-disable-line selector-max-specificity */
        display: block;
        text-align: center;
      }
    }

    :global(.image-credit) {
      @include image-credit;

      + figcaption { /* stylelint-disable-line selector-max-specificity */
        padding-top: rem(5);
      }
    }

    figcaption {
      @include figcaption;
    }
  }

  @media ($smMin) {
    :global(.alignwide) {
      margin-left: -20%;
      margin-right: -20%;

      img {
        max-width: 130%;
        width: 130%;
      }
    }
  }
}
