@mixin block-list {
  @include body-content-type-styles;

  ul,
  ol {
    @include block-level-element;
    font-family: $sans;
    font-size: 1rem;
    margin-left: rem(96);
    padding-left: 0;

    @media ($lgMin) {
      margin-left: rem(36);
    }
  }

  ul {
    list-style: disc outside none;

    ul {
      margin-top: 0.5em;
    }

    > li > ul {
      list-style-type: circle;

      > li > ul {
        list-style-type: square;
      }
    }
  }

  ol {
    list-style: decimal outside none;

    ol {
      margin-top: 0.5em;
    }

    > li > ol {
      list-style-type: lower-roman;

      > li > ol {
        list-style-type: lower-alpha;
      }
    }
  }

  li {
    @include body-content-type-styles;
    @include body-link;
    line-height: calc(28/16);
    margin: 0 0 0 1em;
  }
}
