@mixin block-paragraph {

  p {
    @include body-content-type-styles;
    @include block-level-element;
    @include basic-formatting;
    margin-bottom: rem(20);

    @media ($mdMin) {
      margin-bottom: rem(30);
    }

    &:global(.has-small-font-size) {
      font-size: rem(13);
    }

    &:global(.has-medium-font-size) {
      font-size: rem(20);
    }

    &:global(.has-large-font-size) {
      font-size: rem(36);
    }

    &:global(.has-huge-font-size) {
      font-size: rem(48);
    }

    &:global(.has-drop-cap) {

      &::first-letter {
        display: inline-block;
        font-size: rem(100);
      }
    }

    &:global(.has-text-align-center) {
      text-align: center;
    }

    /* The following class names must be entered into the Adavnced Additional CSS Class Names
    * for these styles to take affect.
    */
    &:global(.page-subheader) {
      color: #000;
      font-family: $sans;
      font-size: rem(40);
      font-weight: 600;
      line-height: rem(40);

      @media ($smMin) {
        font-size: rem(50);
        line-height: rem(50);
      }
    }

    &:global(.section-header) {
      color: #000;
      font-family: $sans;
      font-size: rem(24);
      font-weight: 600;
      line-height: rem(26);
    }

    &:global(.about-header) {
      margin-bottom: rem(5);
      margin-top: 0;
    }

    /* stylelint-disable selector-max-specificity */
    &:global(.view-more-link) {
      a {
        font-size: rem(14);
        font-weight: 400;
        text-decoration: none;

        &:hover {
          text-decoration: underline;
        }
      }
    }
    /* stylelint-enable selector-max-specificity */
  }
}
