/* Styles for core quote block */
@mixin cite {
  cite,
  :global(.wp-block-quote__citation) {
    color: $black;
    display: flex;
    font-family: $sans;
    font-size: 1rem;
    font-weight: 500;
    line-height: rem(22);
    margin-top: 2rem;
    position: relative;
  }

  cite {
    &::before {
      border-top: 1px solid $black;
      content: '';
      display: block;
      position: absolute;
      top: rem(-10);
      width: rem(50);
    }
  }
}

@mixin block-quote {
  :global(.wp-block-quote),
  > blockquote {
    @include block-level-element;
    @include cite;
    border-left: 0;
    clear: both;
    color: $black;
    padding: rem(36) 0;

    p {
      font-family: $sans;
      font-size: rem(22);
      font-weight: 300;
      line-height: 1.2;
      margin-bottom: 0;
    }

    &:global(.is-style-large),
    &:global(.is-style-default) {
      border-top: 4px solid #000;
      padding-top: rem(20);

      @media ($mdMin) {
        border: 0;
      }

      p {
        font-size: rem(40);
        font-style: normal;
        font-weight: 600;
      }
    }

    &:global(.is-style-default) {
      p {
        font-family: $serif-text;
      }
    }
  }
}

@mixin block-pullquote {
  :global(.wp-block-pullquote) {
    @include block-alignment;
    @include block-level-element;
    @include cite;
    font-family: $sans;
    padding: rem(20) 0;

    &:global(.is-style-default) {
      p {
        font-family: $serif-text;
      }
    }

    p {
      color: #000;
      font-size: rem(24);
      font-weight: 600;
      line-height: 1.2;

      @media ($lgMin) {
        font-size: rem(26);
      }
    }

    .wp-block-pullquote__citation {
      color: #000;
      font-size: 1rem;
      font-weight: 700;
    }

    @media ($lgMin) {
      margin: 0 rem(-50) rem(36) rem(-50);
    }

    &:global(.alignleft) {
      @media ($lgMin) {
        margin-left: rem(-50);
      }
    }

    &:global(.alignright) {
      @media ($mdMax) {
        border-top: 4px solid #000;
        display: block;
        float: none;
        margin: 0;
        max-width: 100%;
        width: 100%;
      }

      @media ($lgMin) {
        margin-right: rem(-115);
        max-width: rem(354);
        width: rem(354);
      }
    }

    p {
      font-family: $sans;
      margin-bottom: 0;
    }
  }
}
