/* Styles for horizontal rule separator block */
/* stylelint-disable selector-max-specificity */
@mixin block-separator {
  :global(.wp-block-separator),
  hr {
    &:global(.is-style-default) {
      border: 1px solid #000;
      margin: rem(30) auto;
      max-width: 100%;
      width: 100%;

      &:global(.more-margin) {
        margin: rem(50) auto;
      }
    }

    &:global(.thin-style) {
      border-top: 1px solid #767676;
      margin: rem(30) auto;
      max-width: 100%;
      width: 100%;
    }

    &:global(.is-style-dots) {
      &::before {
        color: $brand-blue;
        content: "\00b7 \00b7 \00b7";
        font-family: $sans;
        font-size: rem(32);
        letter-spacing: 1em;
        padding-left: 2em;
      }
    }

    &:global(.is-style-wide) {
      border-top: 3px solid #000;
      margin: rem(30) auto;
      max-width: none;
      width: 100%;
    }
  }
}
