/* Styles for any in-block text */

/**
 * Mixin for body content type styles
 */
@mixin body-content-type-styles {
  color: $black;
  font-family: $serif-text;
  font-size: rem(16);
  font-weight: 400;
  line-height: rem(24);

  @media ($mdMin) {
    font-size: rem(18);
    line-height: 1.55;
  }
}

/**
 * Mixin for styling body content links.
 */
@mixin body-link {
  a {
    color: inherit;
    display: inline;
    font-size: inherit;
    font-weight: 400;
    text-decoration: underline;
  }
}

/**
 * Basic bold, italic, and link formatting
 */
@mixin basic-formatting {
  @include body-link;

  b,
  strong {
    font-weight: $header-weight;
  }

  em,
  i {
    font-style: italic;
  }
}
