@import 'global/reset';
@import 'global/base';

body {
  font-family: Helvetica, Arial, sans-serif;
}

main {
  margin-bottom: rem(40);
}

article {
  margin: 0 auto;
  max-width: rem(660);
  padding: rem(15) 0;
  width: calc(100% - rem(40));

  > *:not(:last-child) {
    margin-bottom: rem(16);
  }
}

h1 {
  font-size: 1.3em;
  font-weight: bold;
  text-transform: uppercase;
}

h2 {
  font-size: 1.1em;
  font-weight: bold;
}

ol,
ul {
  padding-left: rem(30);
  list-style-type: decimal;
}

ul {
  list-style-type: disc;
}

a {
  text-decoration: underline;
}

footer {
  margin: 0 auto;
  max-width: rem(660);
  width: calc(100% - rem(40));
  padding-bottom: rem(20);

  ul {
    padding: 0;
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    padding-bottom: rem(10);
    margin-bottom: rem(10);
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  }

  li {
    font-size: rem(14);

    &:not(:last-child) {
      margin-right: rem(20);
    }
  }

  li:first-of-type {
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    flex: 1 0 100%;
    margin-bottom: rem(10);

    @media (min-width: 700px) {
      flex: unset;
      margin-bottom: 0;
    }
  }

  p {
    font-size: rem(14);
    color: gray;
  }

  a {
    text-decoration: none;
  }
}
