.wrapper {
  display: flex;
  flex-direction: column;
  max-width: rem(212);
  tidy-offset-left: 1;
}

.title {
  font-family: $sans;
  font-size: rem(14);
  font-style: normal;
  font-weight: 700;
  letter-spacing: rem(1);
  line-height: 1;
  margin: rem(5 0 15 0);
  padding-top: rem(5);
  text-transform: uppercase;
}

.social {
  display: flex;
}
