.heading {
  background-color: #000000;
  color: #FFFFFF;
  margin-bottom: 15px;
  padding: 5px 10px;
  text-transform: uppercase;
  width: 100%;
}

.fieldset {
  margin-bottom: 40px;
  position: relative;
}