.heading {
  background-color: $black;
  color: $white;
  margin-bottom: rem(15);
  padding: rem(5) rem(10);
  text-transform: uppercase;
  width: 100%;
}

.fieldset {
  margin-bottom: rem(40);
  position: relative;
}