@import 'reset.css';
@import 'fonts/fonts.css';
@import './base.css';

.wrapper {
  display: flex;
  flex-flow: column nowrap;
  min-height: 100vh;
}

.skipLink {
  @include screenreader-only;
  align-items: center;
  display: flex;
  justify-content: center;
  left: 0;
  text-transform: uppercase;
  top: 0;
  z-index: 9999;

  &:focus,
  &:active {
    background-color: $white;
    border: 2px solid $black;
    clip: auto;
    clip-path: none;
    color: $black;
    height: rem(40);
    margin: 0;
    padding: 0;
    width: rem(200);
  }
}
