/* ListItem component styles */

.wrapper {
  align-items: center;
  background-color: transparent;
  border-bottom: $border-thin;
  display: flex;
  flex-flow: row wrap;
  padding-bottom: rem(16);
  padding-top: rem(16);
  width: auto;

  @media ($smMin) {
    padding-bottom: rem(32);
    padding-top: rem(32);
  }

  &:last-child {
    border-bottom: none;
  }
}

.link {
  display: flex;
  flex-flow: row wrap;
  width: auto;
}

.name {
  font-size: rem(18);
  font-weight: 600;

  @media ($smMin) {
    font-size: rem(25);
  }
}

.subtitle {
  font-size: rem(16);
  font-weight: 500;

  @media ($smMin) {
    font-size: rem(21);
  }
}

.meta {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  order: 1;
  tidy-span: 7;

  @media ($mdMin) {
    padding-left: rem(24);
    tidy-span: 6;
  }
}

.image {
  margin-right: rem(30);
  min-width: rem(101);
  order: 0;
  padding-left: rem(10);
  tidy-span: 2;

  @media ($mdMin) {
    min-width: rem(111);
    padding-right: rem(36);
    tidy-offset-right: 0;
    tidy-span: 2;
  }

  > figure > span {
    border-radius: 50%;
    display: block;
    overflow: hidden;
  }

  > span {
    border-radius: 50%;
    display: block;
    overflow: hidden;
  }
}
