.wrap {
  clear: left;
  float: left;
  font-family: $sans;
  font-size: rem(14);
  margin-left: -16%;
  padding: rem(10) rem(40) rem(30) rem(10);
  position: relative;
  width: rem(222);
}

.header {
  border-top: 1px solid #000;
  font-size: rem(16);
  font-weight: 700;
  margin: 0 0 rem(10);
  padding-top: rem(10);
}

.link {
  font-size: rem(14);
  font-weight: 700;
  text-decoration: underline;
}

.deck {
  margin-top: rem(10);
}

.featuredImg {
  margin-bottom: rem(10);
  width: 100%;
}
