.wrapper {
  width: 100%;
}

.list {
  display: flex;
  flex-flow: column wrap;

  @media ($mdMin) {
    flex-flow: row nowrap;
  }

  @media ($smMin) {
    flex-direction: row;
  }

  > li {
    margin-bottom: rem(15);

    @media ($smMin) {
      padding-right: 1rem;
      tidy-span: 5;
    }

    @media ($lgMin) {
      tidy-span: 2;
    }

    &:nth-of-type(5) {
      @media ($smMin) {
        margin-right: 0;
      }
    }
  }
}
